api/schemas/xml/SAP-Schema-16.1/Templates/EPC-CollectedData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by Jim Bowery (Landmark Information Group Ltd.) -->
<xs:schema xmlns="DCLG-HIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pfdt="DCLG-HIP/BaseDataTypes" xmlns:HIP="DCLG-HIP" targetNamespace="DCLG-HIP" elementFormDefault="qualified" attributeFormDefault="unqualified" version="LIG-16.1">
	<xs:annotation>
		<xs:documentation>© Department of Communities and Local Government. © Crown copyright, 2007. The Home Condition Report logo and associated wording is a registered trade mark - any unlicensed use is not permitted. Copyright in the typographical arrangement of this document rests with the Crown. This publication, excluding logos, may be reproduced free of charge in any format or medium for research, private study, for internal circulation within an organisation or by registered scheme users. This is subject to it being reproduced accurately and not used in a misleading context.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="DCLG-HIP/BaseDataTypes" schemaLocation="../UDT/BaseDataTypes.xsd"/>
	<xs:include schemaLocation="../UDT/TypeDefinitions.xsd"/>
	<xs:include schemaLocation="../UDT/SharedDomains.xsd"/>
	<xs:include schemaLocation="../UDT/SAP-Domains.xsd"/>
	<xs:element name="SAP-Data" type="SAP-Data"/>
	<xs:complexType name="SAP-Data">
		<xs:annotation>
			<xs:documentation>These are the specific data-items collected by the HI / EA needed to perform the SAP calculation.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Schema-Version" type="xs:string"/>
			<xs:element name="SAP-Property-Details" type="SAP-Property-Details"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Property-Details" type="SAP-Property-Details"/>
	<xs:complexType name="SAP-Property-Details">
		<xs:all>
			<xs:element name="Built-Form" type="SAP-BuiltFormCode">
				<xs:annotation>
					<xs:documentation>The building type of the Property e.g. Detached, Semi-Detached, Terrace etc.

Together with the Property Type, the Build Form produces a structured description of the property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Multiple-Glazed-Proportion" type="pfdt:Percentage" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The estimated banded range (e.g. 0% - 10%) of the total glazed area of the Property that is multiple glazed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Multiple-Glazing-Type" type="SAP-GlazingTypeCode"/>
			<xs:element name="Extensions-Count" type="ExtensionsCount">
				<xs:annotation>
					<xs:documentation>The number of extensions added to the house.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Glazed-Area" type="GlazedAreaCode">
				<xs:annotation>
					<xs:documentation>Ranged estimate of the total glazed area of the Habitable Area.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Habitable-Room-Count" type="pfdt:Count">
				<xs:annotation>
					<xs:documentation>Count of the number of habitable rooms within the property. 

This is the number of Reception Rooms (including Living Rooms, Sitting Rooms, Dining Rooms), Bedrooms, Study and similar rooms but excludes hall, stairs, kitchen, utility rooms, bathrooms, cloakrooms, en-suites and similar rooms.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Heated-Room-Count" type="pfdt:Count">
				<xs:annotation>
					<xs:documentation>The numbewr of heated rooms in the property if more than half of the abitable rooms are not heated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Low-Energy-Lighting" type="pfdt:Percentage">
				<xs:annotation>
					<xs:documentation>The percentage of low energy lighting present in the property as a percentage of the total fixed lights in the property. This is given in addition to the total and low-energy lighting count.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fixed-Lighting-Outlets-Count" type="pfdt:Count">
				<xs:annotation>
					<xs:documentation>Number of fixed lighting outlets.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Low-Energy-Fixed-Lighting-Outlets-Count" type="pfdt:Count">
				<xs:annotation>
					<xs:documentation>Number of low-energy fixed lighting outlets.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measurement-Type" type="MeasurementTypeCode">
				<xs:annotation>
					<xs:documentation>Indicates the type of measurements taken to calculate floor areas e.g. "Internal" or "External"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Open-Fireplaces-Count" type="pfdt:Count">
				<xs:annotation>
					<xs:documentation>The number of Open Fireplaces in the Property.

An Open Fireplace is a fireplace that still allows air to pass between the inside of the Property and the outside.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Property-Type" type="PropertyTypeCode">
				<xs:annotation>
					<xs:documentation>Describes the type of property such as House, Flat, Mansion, Maisonette etc.

This is actually the type differentiator for Property but only a limited number of property types, notably Apartment and Apartment Block, have any specific characteristics and warrant their own definition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Solar-Water-Heating" type="pfdt:Flag">
				<xs:annotation>
					<xs:documentation>Indicates whether the heating in the Property is solar powered.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mechanical-Ventilation" type="VentilationTypeCode">
				<xs:annotation>
					<xs:documentation>Identifies the type of mechanical ventilation the property has. This is required for the RdSAP calculation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Conservatory-Type" type="SAP-ConservatoryTypeCode">
				<xs:annotation>
					<xs:documentation>Type of Conservatory</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SAP-Heating" type="SAP-Heating"/>
			<xs:element name="SAP-Energy-Source" type="SAP-Energy-Source">
				<xs:annotation>
					<xs:documentation>Details of energy sources available to the property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SAP-Building-Parts" type="SAP-Building-Parts"/>
			<xs:element name="SAP-Flat-Details" type="SAP-Flat-Details" minOccurs="0"/>
			<xs:element name="SAP-Windows" type="SAP-Windows" minOccurs="0"/>
			<xs:element name="SAP-Deselected-Improvements" type="SAP-Deselected-Improvements" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This must record any measures deselected by the DEA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Windows-U-Value" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Solar-Transmittance" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Windows-Data-Source" type="SAP-OpeningDataSourceCode" minOccurs="0"/>
			<xs:element name="Door-Count" type="pfdt:Count">
				<xs:annotation>
					<xs:documentation>Number of external doors</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Insulated-Door-Count" type="pfdt:Count" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of insulated external doors</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Insulated-Door-U-Value" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Percent-Draughtproofed">
				<xs:annotation>
					<xs:documentation>Percentage of windows and doors with adequate draught proofing</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="-2"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Floor-Dimension" type="SAP-Floor-Dimension"/>
	<xs:complexType name="SAP-Floor-Dimension">
		<xs:annotation>
			<xs:documentation>Various measurements for each floor that makes up a particular Build-Part.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Heat-Loss-Perimeter" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>The estimate total heat loss perimeter for the Storey. The heat loss perimeter is any part of the storey that is exposed to the outside world through which heat may escape.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Room-Height" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>Average height of the Storey</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Total-Floor-Area" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>The total floor area of the storey</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Floor" type="SAP-StoreyFloorCode"/>
			<xs:element name="Floor-Construction" type="SAP-FloorConstructionCode" minOccurs="0"/>
			<xs:element name="Floor-Insulation" type="SAP-FloorInsulationCode" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="MainHeatingDetailsType" type="MainHeatingDetailsType"/>
	<xs:complexType name="MainHeatingDetailsType">
		<xs:annotation>
			<xs:documentation>Structured type for recording the details of the main heating present in nthe property as used in the SAP calculation</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Heating-Brand-Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Heating-Model-Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Heating-Boiler-ID" type="xs:string" minOccurs="0"/>
			<xs:element name="Heating-SEDBUK-ID" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Building-Parts" type="SAP-Building-Parts"/>
	<xs:complexType name="SAP-Building-Parts">
		<xs:annotation>
			<xs:documentation>Details of the significant building parts that comprise the main habitable building in the property. The main habitable area generally consists of a single main building but can over time be extended to include extensions such as new wings and additional storeys.

For the purpose of calculating the overall Energy Assessment for the property details of each distinct Building Part, such as its construction, have to be gathered because different materials have different insulation ratings (obviously) which affects the overall rating.
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SAP-Integral-Conservatory" type="SAP-Integral-Conservatory" minOccurs="0"/>
			<xs:element name="SAP-Building-Part" type="SAP-Building-Part" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SAP-Building-Part" type="SAP-Building-Part"/>
	<xs:complexType name="SAP-Building-Part">
		<xs:annotation>
			<xs:documentation>A permanent structure that forms part of the Property and is built primarily for human habitation. A Building is usually made up of one or more Storey's and may contain a number of Internal Structural Features. An extension would be a Building Part.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Building-Part-Number" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>An integer value which uniquely identifies the building part in the property.  The value "1" must be assigned to the main dwelling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identifier" type="pfdt:IDString" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifier for the Building part - generally only required if there are more that one Building Parts of the same type e.g. "West Wing" and "East Wing" Extensions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Construction-Age-Band" type="ConstructionDateCode">
				<xs:annotation>
					<xs:documentation>The age band when this building part was constructed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SAP-Floor-Dimensions" type="SAP-Floor-Dimensions"/>
			<xs:element name="Floor-U-Value" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Only one of Floor-Insulation-Thickness and Floor-U-Value is included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Floor-Insulation-Thickness" type="FloorInsulationThicknessCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Only one of Floor-Insulation-Thickness and Floor-U-Value is included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Floor-Heat-Loss" type="HeatLossFloorCode">
				<xs:annotation>
					<xs:documentation>Identifies the type of foor through which heat loss occurs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Roof-Construction" type="RoofTypeCode">
				<xs:annotation>
					<xs:documentation>Describes the material that the roof of the Building Part is constructed from e.g. Tile, Slate etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Roof-Insulation-Location" type="RoofInsulationLocationCode">
				<xs:annotation>
					<xs:documentation>The location of the insulation in the roof e.g. between joists, in rafters etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Roof-U-Value" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Roof-Insulation-Thickness" type="RoofInsulationThicknessCode">
				<xs:annotation>
					<xs:documentation>Use ND when Roof-U-Value is  given</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rafter-Insulation-Thickness" type="RafterInsulationThicknessCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Omit when Roof-U-Value is given</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Flat-Roof-Insulation-Thickness" type="FlatRoofInsulationThicknessCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Omit when Roof-U-Value is given</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wall-Construction" type="WallConstructionCode"/>
			<xs:element name="Wall-Insulation-Type" type="WallInsulationCode">
				<xs:annotation>
					<xs:documentation>Describes the type of insulation present in the wall if any.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wall-Thickness-Measured" type="pfdt:Flag">
				<xs:annotation>
					<xs:documentation>Whether wall thickness was measured</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wall-Thickness" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wall thickness in mm. Omitted if Wall-Thickness-Measured is false</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wall-Dry-Lined" type="pfdt:Flag"/>
			<xs:element name="Wall-U-Value" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Only one of Wall-Insulation-Thickness and Wall-U-Value is included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wall-Insulation-Thickness" type="WallInsulationsThicknessCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Only one of Wall-Insulation-Thickness and Wall-U-Value is included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SAP-Room-In-Roof" type="SAP-Room-In-Roof" minOccurs="0"/>
			<xs:element name="SAP-Alternative-Wall" type="SAP-Alternative-Wall" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Included only for building parts that have an alternative wall</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Alternative-Wall" type="SAP-Alternative-Wall"/>
	<xs:complexType name="SAP-Alternative-Wall">
		<xs:all>
			<xs:element name="Wall-Construction" type="WallConstructionCode"/>
			<xs:element name="Wall-Insulation-Type" type="WallInsulationCode"/>
			<xs:element name="Wall-Area" type="pfdt:Measurement"/>
			<xs:element name="Wall-Thickness-Measured" type="pfdt:Flag"/>
			<xs:element name="Wall-Thickness" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wall thickness in mm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wall-U-Value" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Only one of Wall-Insulation-Thickness and Wall-U-Value is included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wall-Insulation-Thickness" type="WallInsulationsThicknessCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Only one of Wall-Insulation-Thickness and Wall-U-Value is included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wall-Dry-Lined" type="pfdt:Flag">
				<xs:annotation>
					<xs:documentation>Value to be "N" for wall types where dry-lining is not applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sheltered-Wall" type="pfdt:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wall between dwelling and unheated corridor or stairwell</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Internal-Wall" type="SAP-Internal-Wall"/>
	<xs:complexType name="SAP-Internal-Wall">
		<xs:all>
			<xs:element name="Construction" type="WallConstructionCode">
				<xs:annotation>
					<xs:documentation>Classifies the type of construction for the Wall e.g. stud-partition, brick etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="U-Value" type="UValue"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Energy-Source" type="SAP-Energy-Source"/>
	<xs:complexType name="SAP-Energy-Source">
		<xs:annotation>
			<xs:documentation>Details of the main Electricity supply to the Property.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Meter-Type" type="ElectricMeterTypeCode">
				<xs:annotation>
					<xs:documentation>The type of Electricity Meter - taken from a pre-defined list of values.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Main-Gas" type="pfdt:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Whether mains gas is available in the property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wind-Turbines-Count" type="SAP-WindTurbinesCount">
				<xs:annotation>
					<xs:documentation>Number of wind turbines; 0 if none.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wind-Turbines-Terrain-Type" type="SAP-TerrainTypeCode">
				<xs:annotation>
					<xs:documentation>Terrain type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wind-Turbine-Details" type="Wind-Turbine-Details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Included when details are known</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Photovoltaic-Supply" type="Photovoltaic-Supply"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Heating" type="SAP-Heating"/>
	<xs:complexType name="SAP-Heating">
		<xs:annotation>
			<xs:documentation>Details of the means by which the Main Building is heated.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Secondary-Fuel-Type" type="HeatingFuelTypeCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The secondary type of fuel used to power the central heating e.g. Gas, Electricity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Water-Heating-Fuel" type="HeatingFuelTypeCode">
				<xs:annotation>
					<xs:documentation>The type of fuel used to heat the water e.g. Gas, Electricity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Secondary-Heating-Type" type="SAP-HeatingCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of secondary heating (if any) present in the property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Water-Heating-Code" type="SAP-HeatingCode">
				<xs:annotation>
					<xs:documentation>Describes the type of Water Heating present in the Property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Immersion-Heating-Type" type="ImmersionHeatingTypeCode" minOccurs="0"/>
			<xs:element name="Cylinder-Size" type="CylinderSizeCode">
				<xs:annotation>
					<xs:documentation>The size of the Hot Water Cylinder - taken from a range of standard sizes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cylinder-Insulation-Type" type="CylinderInsulationTypeCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>the type of insulation surrounding the Hot Water Cylinder</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cylinder-Insulation-Thickness" type="CylinderThicknessCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Average thickness of the insulation surrounding the Hot Water Cylinder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cylinder-Thermostat" type="pfdt:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of thermostat installed for the hot water cylinder</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Has-Fixed-Air-Conditioning" type="xs:boolean" default="false"/>
			<xs:element name="Main-Heating-Details" type="Main-Heating-Details"/>
			<xs:element name="Solar-Water-Heating-Details" type="Solar-Water-Heating-Details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Included only when details are known</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WWHRS" type="WWHRS">
				<xs:annotation>
					<xs:documentation>Waste Water Heat Recovery System</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Floor-Dimensions" type="SAP-Floor-Dimensions"/>
	<xs:complexType name="SAP-Floor-Dimensions">
		<xs:sequence>
			<xs:element name="SAP-Floor-Dimension" type="SAP-Floor-Dimension" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SAP-Integral-Conservatory" type="SAP-Integral-Conservatory"/>
	<xs:complexType name="SAP-Integral-Conservatory">
		<xs:annotation>
			<xs:documentation>A conservatory intergrated into the property that is within the heat-loss perimeter and forms part of the habitable area.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Double-Glazed" type="pfdt:Flag">
				<xs:annotation>
					<xs:documentation>Indicates whether the conservatory is double glazed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Floor-Area" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>The gross floor area of the conservatory</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Glazed-Perimeter" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>The length of the glazed area</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Room-Height" type="ConservatoryHeightCode">
				<xs:annotation>
					<xs:documentation>The average height of the conservatory</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Flat-Details" type="SAP-Flat-Details"/>
	<xs:complexType name="SAP-Flat-Details">
		<xs:all>
			<xs:element name="Flat-Location" type="BlockStoreyCode">
				<xs:annotation>
					<xs:documentation>Identifies the storey within the block that the entrance to the flat is located on</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Storey-Count" type="pfdt:Count" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The number of Storeys in the Apartment Block.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Level" type="FlatLevelCode"/>
			<xs:element name="Top-Storey" type="pfdt:Flag">
				<xs:annotation>
					<xs:documentation>Indicates that the Apartment is located on the Top Storey of the Apartment Block.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Heat-Loss-Corridor" type="HeatLossCorridorCode">
				<xs:annotation>
					<xs:documentation>Indiocates that the flat contained a cossidor through which heat is lost.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Unheated-Corridor-Length" type="pfdt:Measurement" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The tortal length of unheated corridor in the flat. Only popualted if Heat-Loss-Corridor = {Unheated Corridor}</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Windows" type="SAP-Windows"/>
	<xs:complexType name="SAP-Windows">
		<xs:annotation>
			<xs:documentation>Details of the windows in the building</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SAP-Window" type="SAP-Window" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SAP-Window" type="SAP-Window"/>
	<xs:complexType name="SAP-Window">
		<xs:all>
			<xs:element name="Window-Location" type="BuildingPartCode"/>
			<xs:element name="Window-Area" type="pfdt:Measurement"/>
			<xs:element name="Glazing-Type" type="SAP-GlazingTypeCode"/>
			<xs:element name="Window-Type" type="WindowTypeCode"/>
			<xs:element name="U-Value" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Solar-Transmittance" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Data-Source" type="SAP-OpeningDataSourceCode" minOccurs="0"/>
			<xs:element name="Orientation" type="SAP-OrientationCode"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Room-In-Roof" type="SAP-Room-In-Roof"/>
	<xs:complexType name="SAP-Room-In-Roof">
		<xs:all>
			<xs:element name="Floor-Area" type="pfdt:Measurement"/>
			<xs:element name="Construction-Age-Band" type="ConstructionDateCode"/>
			<xs:element name="Insulation" type="SAP-RoomInRoofInsulationCode"/>
			<xs:element name="Roof-Room-Connected" type="pfdt:Flag">
				<xs:annotation>
					<xs:documentation>Whether the roof room is connected to another building part of the same dwelling</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Roof-Insulation-Thickness" type="RoofInsulationThicknessCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Use ND when Room-In-Roof-Details is included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Room-In-Roof-Details" type="Room-In-Roof-Details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Omit when Room-In-Roof details not included</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="SAP-Deselected-Improvements" type="SAP-Deselected-Improvements"/>
	<xs:complexType name="SAP-Deselected-Improvements">
		<xs:annotation>
			<xs:documentation>There are 22 possible improvement measures, designated from A to V. This must record measures deselected by DEA
(A to V is the full set, only E, N, U and V are considered at the moment for new build).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Deselected-Improvement-Measure" type="SAP-ImprovementMeasureCode" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Main-Heating-Details" type="Main-Heating-Details"/>
	<xs:complexType name="Main-Heating-Details">
		<xs:sequence>
			<xs:element name="Main-Heating" maxOccurs="2">
				<xs:complexType>
					<xs:all>
						<xs:element name="Main-Heating-Number">
							<xs:annotation>
								<xs:documentation>Identifies the main heating as system 1 or system 2.  System 1 must always be present, system 2 is included only when there are two systems.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Main-Heating-Category" type="SAP-MainHeatingCategoryCode">
							<xs:annotation>
								<xs:documentation>Category of heating system for the main heating system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Main-Fuel-Type" type="HeatingFuelTypeCode">
							<xs:annotation>
								<xs:documentation>The type of fuel used to power the central heating e.g. Gas, Electricity</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Main-Heating-Control" type="SAP-HeatingCode">
							<xs:annotation>
								<xs:documentation>Type of Main Control for the Heating System.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Boiler-Index-Number" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The ID of the heating system from the product database, if system from database.  Use for all relevant systems, not only boilers e.g. micro-CHP, heat pump.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Main-Heating-Data-Source" type="BoilerDataSourceCode"/>
						<xs:element name="SAP-Main-Heating-Code" type="SAP-HeatingCode" minOccurs="0"/>
						<xs:element name="Boiler-Flue-Type" type="BoilerFlueTypeCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the flue type of the heating system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Fan-Flue-Present" type="pfdt:Flag" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates whether the heating system contains a fan flue. This is required by RdSAP and should be part of the 3-letter codes but isn't.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Heat-Emitter-Type" type="HeatEmitterCode">
							<xs:annotation>
								<xs:documentation>Identifies the means by which the central heating system (if present) emits heat.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Main-Heating-Fraction" type="xs:decimal">
							<xs:annotation>
								<xs:documentation>Fraction of total floor area served by this system.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Has-FGHRS" type="pfdt:Flag">
							<xs:annotation>
								<xs:documentation>Flue Gas Heat Recovery System</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FGHRS-Index-Number" type="xs:nonNegativeInteger" minOccurs="0">
							<xs:annotation>
								<xs:documentation>FGHRS index number; only if FGHRS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FGHRS-PV-Peak-Power" type="pfdt:Measurement" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Applies only for FGHRS with its own PV supply</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FGHRS-PV-Orientation" type="SAP-CompassDirectionCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Applies only for FGHRS with its own PV supply</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FGHRS-PV-Pitch" type="SAP-VerticalPitchCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Applies only for FGHRS with its own PV supply</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FGHRS-PV-Overshading" type="SAP-SolarCollectorOvershadingCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Applies only for FGHRS with its own PV supply</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Photovoltaic-Supply" type="Photovoltaic-Supply"/>
	<xs:complexType name="Photovoltaic-Supply">
		<xs:choice>
			<xs:element name="Percent-Roof-Area" type="pfdt:Percentage">
				<xs:annotation>
					<xs:documentation>Percentage of photovoltaic area as percentage of total roof area.  0% indicates that a photovoltaic supply is not present in the property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PV-Arrays" type="PV-Arrays" maxOccurs="3"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="PV-Array" type="PV-Array"/>
	<xs:complexType name="PV-Array">
		<xs:all>
			<xs:element name="Peak-Power" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>Peak kW of photovoltaics (PVs) (kWp); 0.0 if none.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Orientation" type="SAP-CompassDirectionCode">
				<xs:annotation>
					<xs:documentation>PV orientation; only if peak kWp &gt; 0.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pitch" type="SAP-VerticalPitchCode">
				<xs:annotation>
					<xs:documentation>PV pitch; only if peak kWp &gt; 0.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Overshading" type="SAP-SolarCollectorOvershadingCode">
				<xs:annotation>
					<xs:documentation>PV overshading; only if peak kWp &gt; 0.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="PV-Arrays" type="PV-Arrays"/>
	<xs:complexType name="PV-Arrays">
		<xs:sequence>
			<xs:element name="PV-Array" type="PV-Array"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Room-In-Roof-Details" type="Room-In-Roof-Details"/>
	<xs:complexType name="Room-In-Roof-Details">
		<xs:all>
			<xs:element name="Flat-Ceiling-Area-1" type="pfdt:Measurement" minOccurs="0"/>
			<xs:element name="Flat-Ceiling-U-Value-1" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Flat-Ceiling-Area-2" type="pfdt:Measurement" minOccurs="0"/>
			<xs:element name="Flat-Ceiling-U-Value-2" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Stud-Wall-Area-1" type="pfdt:Measurement" minOccurs="0"/>
			<xs:element name="Stud-Wall-U-Value-1" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Stud-Wall-Area-2" type="pfdt:Measurement" minOccurs="0"/>
			<xs:element name="Stud-Wall-U-Value-2" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Slope-Area-1" type="pfdt:Measurement" minOccurs="0"/>
			<xs:element name="Slope-U-Value-1" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Slope-Area-2" type="pfdt:Measurement" minOccurs="0"/>
			<xs:element name="Slope-U-Value-2" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Gable-Wall-Area-1" type="pfdt:Measurement" minOccurs="0"/>
			<xs:element name="Gable-Wall-U-Value-1" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Gable-Wall-Area-2" type="pfdt:Measurement" minOccurs="0"/>
			<xs:element name="Gable-Wall-U-Value-2" type="xs:decimal" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="Wind-Turbine-Details" type="Wind-Turbine-Details"/>
	<xs:complexType name="Wind-Turbine-Details">
		<xs:all>
			<xs:element name="Rotor-Diameter" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>Diameter of rotor of wind turbine</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hub-Height" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>Height of rotor hub above ridge of roof</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="Solar-Water-Heating-Details" type="Solar-Water-Heating-Details"/>
	<xs:complexType name="Solar-Water-Heating-Details">
		<xs:all>
			<xs:element name="Solar-Panel-Aperture-Area" type="pfdt:Measurement"/>
			<xs:element name="Solar-Panel-Collector-Type" type="SAP-SolarCollectorTypeCode"/>
			<xs:element name="Solar-Panel-Collector-Data-Source" type="SAP-SolarCollectorDataSourceCode"/>
			<xs:element name="Solar-Panel-Collector-Zero-Loss-Efficiency" type="pfdt:Percentage"/>
			<xs:element name="Solar-Panel-Collector-Heat-Loss-Rate" type="xs:decimal"/>
			<xs:element name="Solar-Panel-Collector-Orientation" type="SAP-CompassDirectionCode">
				<xs:annotation>
					<xs:documentation>Omit when pitch is horizontal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Solar-Panel-Collector-Pitch" type="SAP-VerticalPitchCode"/>
			<xs:element name="Solar-Panel-Collector-Overshading" type="SAP-SolarCollectorOvershadingCode"/>
			<xs:element name="Solar-Water-Pump" type="SolarPumpType">
				<xs:annotation>
					<xs:documentation>Energy source for pumping water through the solar system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Store-Volume-Details-Known" type="pfdt:Flag">
				<xs:annotation>
					<xs:documentation>When Y the total store volume, dedicated solar volume and combined cylinder are to be provided</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Total-Store-Volume" type="pfdt:Measurement" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total volume of hot water store in litres</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dedicated-Solar-Volume" type="pfdt:Measurement" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Volume of hot water store dedicated to solar heated water, in litres</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Combined-Cylinder" type="pfdt:Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If combined cylinder the total hot water store volume is inclusive of the dedicated solar volume</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="WWHRS" type="WWHRS"/>
	<xs:complexType name="WWHRS">
		<xs:all>
			<xs:element name="Rooms-With-Bath-And-Or-Shower" type="pfdt:Count"/>
			<xs:element name="Rooms-With-Mixer-Shower-No-Bath" type="pfdt:Count"/>
			<xs:element name="Rooms-With-Bath-And-Mixer-Shower" type="pfdt:Count"/>
			<xs:element name="WWHRS-Index-Number1" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Included only if WWHRS present</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mixer-Showers-With-System1-With-Bath" type="pfdt:Count" minOccurs="0"/>
			<xs:element name="Mixer-Showers-With-System1-Without-Bath" type="pfdt:Count" minOccurs="0"/>
			<xs:element name="WWHRS-Index-Number2" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Included only if two WWHRS present</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mixer-Showers-With-System2-With-Bath" type="pfdt:Count" minOccurs="0"/>
			<xs:element name="Mixer-Showers-With-System2-Without-Bath" type="pfdt:Count" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
</xs:schema>
