api/schemas/xml/RdSAP-Schema-21.0.1/RdSAP/Templates/EPC-CollectedData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns="https://epbr.digital.communities.gov.uk/xsd/rdsap"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://epbr.digital.communities.gov.uk/xsd/rdsap"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="21.0.1"
>
    <xs:include schemaLocation="../UDT/SAP-Domains.xsd"/>
    <xs:element name="SAP-Data" type="SAP-Data"/>
    <xs:complexType name="SAP-Data">
        <xs:annotation>
            <xs:documentation>These are the specific data-items collected by the HI / EA needed to perform the SAP calculation.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="SAP-Property-Details" type="SAP-Property-Details"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Property-Details" type="SAP-Property-Details"/>
    <xs:complexType name="SAP-Property-Details">
        <xs:all>
            <xs:element name="Built-Form" type="SAP-BuiltFormCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The building type of the Property e.g. Detached, Semi-Detached, Terrace etc.

Together with the Property Type, the Build Form produces a structured description of the property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Extensions-Count" type="ExtensionsCount">
                <xs:annotation>
                    <xs:documentation>The number of extensions added to the house.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Habitable-Room-Count" type="Count">
                <xs:annotation>
                    <xs:documentation>Count of the number of habitable rooms within the property.

This is the number of Reception Rooms (including Living Rooms, Sitting Rooms, Dining Rooms), Bedrooms, Study and similar rooms but excludes hall, stairs, kitchen, utility rooms, bathrooms, cloakrooms, en-suites and similar rooms.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Heated-Room-Count" type="Count">
                <xs:annotation>
                    <xs:documentation>The numbewr of heated rooms in the property if more than half of the abitable rooms are not heated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Low-Energy-Fixed-Lighting-Bulbs-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>If exact number of CFL and LED not known, provide number of low energy fixed lighting outlets.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Incandescent-Fixed-Lighting-Bulbs-Count" type="Count">
                <xs:annotation>
                    <xs:documentation>Number of incandescent fixed bulbs.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LED-Fixed-Lighting-Bulbs-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Number of LED fixed bulbs.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CFL-Fixed-Lighting-Bulbs-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Number of CFL fixed bulbs.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Measurement-Type" type="MeasurementTypeCode">
                <xs:annotation>
                    <xs:documentation>Indicates the type of measurements taken to calculate floor areas e.g. "Internal" or "External"</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Property-Type" type="PropertyTypeCode">
                <xs:annotation>
                    <xs:documentation>Describes the type of property such as House, Flat, Mansion, Maisonette etc.

This is actually the type differentiator for Property but only a limited number of property types, notably Apartment and Apartment Block, have any specific characteristics and warrant their own definition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Solar-Water-Heating" type="Flag">
                <xs:annotation>
                    <xs:documentation>Indicates whether the heating in the Property is solar powered.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wet-Rooms-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Relevant when mechanical ventilation system is from PCDB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Pressure-Test" type="SAP-PressureTestCode">
                <xs:annotation>
                    <xs:documentation>Whether there has been a pressure test, or whether an assumed value is used for the air permeability.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Pressure-Test-Certificate-Number" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The pressure test certificate number or test engineer reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Air-Permeability" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Air permeability; only if pressure test (yes or assumed).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Has-Draught-Lobby" type="xs:boolean" default="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Is there a draft lobby?  Only if no pressure test.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Open-Chimneys-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of Open Chimneys in the Property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Blocked-Chimneys-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of Blocked Chimneys in the Property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Open-Flues-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of Open Flues in the Property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Closed-Flues-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Chimney/Flues attached to closed fires.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Boilers-Flues-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of Boiler Flues or chimneys in the Property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Other-Flues-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of Other Flues or chimneys in the Property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Extract-Fans-Count" type="Count" minOccurs="0"/>
            <xs:element name="PSV-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Number of passive vents.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Flueless-Gas-Fires-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of flueless gas fires in the Property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Mechanical-Ventilation-Index-Number" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Relevant when mechanical ventilation system is from PCDB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Mechanical-Ventilation" type="VentilationTypeCode">
                <xs:annotation>
                    <xs:documentation>Identifies the type of mechanical ventilation the property has. This is required for the RdSAP calculation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Mechanical-Vent-Duct-Type" type="SAP-DuctTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mechanical vent duct type; if MEV c, MV or MVHR from PCDB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Mechanical-Vent-Duct-Placement" type="SAP-DuctPlacement" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mechanical ventilation duct insulation; if MVHR from PCDB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Mechanical-Vent-Duct-Insulation" type="SAP-DuctInsulationCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Relevant when mechanical ventilation system is from PCDB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Mechanical-Vent-Duct-Insulation-Level" type="SAP-DuctInsulationLevel" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mechanical vent duct insulation; if MVHR from PCDB.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Mechanical-Vent-Measured-Installation" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mechanical ventilation SPF measured in situ; if MVHR or balanced from pcdb.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Is-Mechanical-Vent-Approved-Installer-Scheme" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>If MVHR from pcdb.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kitchen-Room-Fans-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>MEV dc, number of fans in room, kitchen; if mechanical vent data from database or manufacturer declaration (MEV dc).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Non-Kitchen-Room-Fans-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>MEV dc, number of fans in room, rooms other than kitchen; if mechanical vent data from database or manufacturer declaration (MEV dc).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kitchen-Duct-Fans-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>MEV dc, number of fans via duct, kitchen; if mechanical vent data from database or manufacturer declaration (MEV dc).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Non-Kitchen-Duct-Fans-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>MEV dc, number of fans via duct, rooms other than kitchen; if mechanical vent data from database or manufacturer declaration (MEV dc).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Kitchen-Wall-Fans-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>MEV dc, number of fans through wall, kitchen; if mechanical vent data from database or manufacturer declaration (MEV dc).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Non-Kitchen-Wall-Fans-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>MEV dc, number of fans through wall, rooms other than kitchen; if mechanical vent data from database or manufacturer declaration (MEV dc).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Conservatory-Type" type="SAP-ConservatoryTypeCode">
                <xs:annotation>
                    <xs:documentation>Type of Conservatory</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SAP-Heating" type="SAP-Heating"/>
            <xs:element name="SAP-Energy-Source" type="SAP-Energy-Source">
                <xs:annotation>
                    <xs:documentation>Details of energy sources available to the property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SAP-Building-Parts" type="SAP-Building-Parts"/>
            <xs:element name="SAP-Flat-Details" type="SAP-Flat-Details" minOccurs="0"/>
            <xs:element name="SAP-Windows" type="SAP-Windows" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>To be used when all windows are measured.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Windows-Transmission-Details" type="Window-Transmission-Details" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>To be used when windows are not measured.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SAP-Deselected-Improvements" type="SAP-Deselected-Improvements" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>This must record any measures deselected by the DEA</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Door-Count" type="Count">
                <xs:annotation>
                    <xs:documentation>Number of external doors</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Insulated-Door-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Number of insulated external doors</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Draughtproofed-Door-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Number of draught proofed external doors</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Insulated-Door-U-Value" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Percent-Draughtproofed">
                <xs:annotation>
                    <xs:documentation>Percentage of windows and doors with adequate draught proofing</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="-2"/>
                        <xs:maxInclusive value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SAP-Special-Features" type="SAP-Special-Features" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Floor-Dimension" type="SAP-Floor-Dimension"/>
    <xs:complexType name="SAP-Floor-Dimension">
        <xs:annotation>
            <xs:documentation>Various measurements for each floor that makes up a particular Build-Part.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="Heat-Loss-Perimeter" type="Measurement">
                <xs:annotation>
                    <xs:documentation>The estimate total heat loss perimeter for the Storey. The heat loss perimeter is any part of the storey that is exposed to the outside world through which heat may escape.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Room-Height" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Average height of the Storey</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Total-Floor-Area" type="Measurement">
                <xs:annotation>
                    <xs:documentation>The total floor area of the storey</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Floor" type="SAP-StoreyFloorCode"/>
            <xs:element name="Floor-Construction" type="SAP-FloorConstructionCode" minOccurs="0"/>
            <xs:element name="Floor-Insulation" type="SAP-FloorInsulationCode" minOccurs="0"/>
            <xs:element name="Party-Wall-Length" type="Measurement">
                <xs:annotation>
                    <xs:documentation>set to zero if no party wall</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="MainHeatingDetailsType" type="MainHeatingDetailsType"/>
    <xs:complexType name="MainHeatingDetailsType">
        <xs:annotation>
            <xs:documentation>Structured type for recording the details of the main heating present in nthe property as used in the SAP calculation</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="Heating-Brand-Name" type="xs:string" minOccurs="0"/>
            <xs:element name="Heating-Model-Name" type="xs:string" minOccurs="0"/>
            <xs:element name="Heating-Boiler-ID" type="xs:string" minOccurs="0"/>
            <xs:element name="Heating-SEDBUK-ID" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Building-Parts" type="SAP-Building-Parts"/>
    <xs:complexType name="SAP-Building-Parts">
        <xs:annotation>
            <xs:documentation>Details of the significant building parts that comprise the main habitable building in the property. The main habitable area generally consists of a single main building but can over time be extended to include extensions such as new wings and additional storeys.

For the purpose of calculating the overall Energy Assessment for the property details of each distinct Building Part, such as its construction, have to be gathered because different materials have different insulation ratings (obviously) which affects the overall rating.
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SAP-Integral-Conservatory" type="SAP-Integral-Conservatory" minOccurs="0"/>
            <xs:element name="SAP-Building-Part" type="SAP-Building-Part" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SAP-Building-Part" type="SAP-Building-Part"/>
    <xs:complexType name="SAP-Building-Part">
        <xs:annotation>
            <xs:documentation>A permanent structure that forms part of the Property and is built primarily for human habitation. A Building is usually made up of one or more Storey's and may contain a number of Internal Structural Features. An extension would be a Building Part.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="Building-Part-Number" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>An integer value which uniquely identifies the building part in the property.  The value "1" must be assigned to the main dwelling.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Identifier" type="IDString" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Identifier for the Building part - generally only required if there are more that one Building Parts of the same type e.g. "West Wing" and "East Wing" Extensions</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Construction-Age-Band" type="ConstructionDateCode">
                <xs:annotation>
                    <xs:documentation>The age band when this building part was constructed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SAP-Floor-Dimensions" type="SAP-Floor-Dimensions"/>
            <xs:element name="Floor-U-Value" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only one of Floor-Insulation-Thickness and Floor-U-Value is included</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Floor-Insulation-Thickness" type="FloorInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only one of Floor-Insulation-Thickness and Floor-U-Value is included</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Floor-Heat-Loss" type="HeatLossFloorCode">
                <xs:annotation>
                    <xs:documentation>Identifies the type of foor through which heat loss occurs.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Roof-Construction" type="RoofTypeCode">
                <xs:annotation>
                    <xs:documentation>Describes the material that the roof of the Building Part is constructed from e.g. Tile, Slate etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Roof-Insulation-Location" type="RoofInsulationLocationCode">
                <xs:annotation>
                    <xs:documentation>The location of the insulation in the roof e.g. between joists, in rafters etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Roof-U-Value" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Include one of Roof-U-Value, Roof-Insulation-Thickness, Rafter-Insulation-Thickness, Flat-Roof-Insulation-Thickness, Sloping-Ceiling-Insulation-Thickness</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Roof-Insulation-Thickness" type="RoofInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>See Roof-U-Value</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rafter-Insulation-Thickness" type="RafterInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>See Roof-U-Value</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Flat-Roof-Insulation-Thickness" type="FlatRoofInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>See Roof-U-Value</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sloping-Ceiling-Insulation-Thickness" type="SlopedCeilingInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>See Roof-U-Value</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Construction" type="WallConstructionCode"/>
            <xs:element name="Wall-Insulation-Type" type="WallInsulationCode">
                <xs:annotation>
                    <xs:documentation>Describes the type of insulation present in the wall if any.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Thickness-Measured" type="Flag">
                <xs:annotation>
                    <xs:documentation>Whether wall thickness was measured</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Thickness" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Wall thickness in mm. Omitted if Wall-Thickness-Measured is false</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Dry-Lined" type="Flag"/>
            <xs:element name="Wall-U-Value" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only one of Wall-Insulation-Thickness and Wall-U-Value is included</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Insulation-Thickness" type="WallInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only one of Wall-Insulation-Thickness and Wall-U-Value is included</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Insulation-Thickness-Measured" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only one of Wall-Insulation-Thickness is measured and Wall-U-Value is included</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Insulation-Thermal-Conductivity" type="SAP-InsulationThermalConductivityCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only if documentary evidence is available</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SAP-Room-In-Roof" type="SAP-Room-In-Roof" minOccurs="0"/>
            <xs:element name="SAP-Alternative-Wall-1" type="SAP-Alternative-Wall" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Included only for building parts that have an alternative wall</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SAP-Alternative-Wall-2" type="SAP-Alternative-Wall" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Included only for building parts that have an alternative wall</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Party-Wall-Construction" type="PartyWallConstructionCode"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Alternative-Wall" type="SAP-Alternative-Wall"/>
    <xs:complexType name="SAP-Alternative-Wall">
        <xs:all>
            <xs:element name="Wall-Construction" type="WallConstructionCode"/>
            <xs:element name="Wall-Insulation-Type" type="WallInsulationCode"/>
            <xs:element name="Wall-Area" type="Measurement"/>
            <xs:element name="Wall-Thickness-Measured" type="Flag"/>
            <xs:element name="Wall-Thickness" type="xs:integer" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Wall thickness in mm</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-U-Value" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only one of Wall-Insulation-Thickness and Wall-U-Value is included</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Insulation-Thickness" type="WallInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only one of Wall-Insulation-Thickness and Wall-U-Value is included</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Insulation-Thickness-Measured" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only one of Wall-Insulation-Thickness is measured and Wall-U-Value is included</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Insulation-Thermal-Conductivity" type="SAP-InsulationThermalConductivityCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only if documentary evidence is available</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wall-Dry-Lined" type="Flag">
                <xs:annotation>
                    <xs:documentation>Value to be "N" for wall types where dry-lining is not applicable.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sheltered-Wall" type="Flag" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Wall between dwelling and unheated corridor or stairwell</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Energy-Source" type="SAP-Energy-Source"/>
    <xs:complexType name="SAP-Energy-Source">
        <xs:annotation>
            <xs:documentation>Details of the main Electricity supply to the Property.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="Meter-Type" type="ElectricMeterTypeCode">
                <xs:annotation>
                    <xs:documentation>The type of Electricity Meter - taken from a pre-defined list of values.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Mains-Gas" type="MainsGasCode">
                <xs:annotation>
                    <xs:documentation>Whether mains gas is available in the property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Electricity-Smart-Meter-Present" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Is an electricity Smart Meter present?</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Gas-Smart-Meter-Present" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Is a gas Smart Meter present?</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Is-Dwelling-Export-Capable" type="xs:boolean"/>
            <xs:element name="Wind-Turbines-Count" type="SAP-WindTurbinesCount">
                <xs:annotation>
                    <xs:documentation>Number of wind turbines; 0 if none.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wind-Turbines-Terrain-Type" type="SAP-TerrainTypeCode">
                <xs:annotation>
                    <xs:documentation>Terrain type</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Wind-Turbine-Details" type="Wind-Turbine-Details" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Included when details are known</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Photovoltaic-Supply" type="Photovoltaic-Supply"/>
            <xs:element name="PV-Connection" type="PVConnectionCode"/>
            <xs:element name="PV-Diverter" type="xs:boolean" default="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Diverter present.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PV-Battery-Count" type="xs:nonNegativeInteger" minOccurs="0"/>
            <xs:element name="PV-Batteries" type="PV-Batteries" minOccurs="0"/>
            <xs:element name="Hydro-Electric-Generation" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Electricity generated by hydro-electric generator, in kWh/year. To be provided if Hydro-Electric-Generation-Month is not provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Is-Hydro-Output-Connected-To-Dwelling-Meter" type="xs:boolean" default="true" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Whether the hydro-electric station is connected to dwelling's electricity meter</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Heating" type="SAP-Heating"/>
    <xs:complexType name="SAP-Heating">
        <xs:annotation>
            <xs:documentation>Details of the means by which the Main Building is heated.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="Secondary-Fuel-Type" type="HeatingFuelTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The secondary type of fuel used to power the central heating e.g. Gas, Electricity</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Water-Heating-Fuel" type="HeatingFuelTypeCode">
                <xs:annotation>
                    <xs:documentation>The type of fuel used to heat the water e.g. Gas, Electricity</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Secondary-Heating-Type" type="SAP-HeatingCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Type of secondary heating (if any) present in the property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Water-Heating-Code" type="SAP-HeatingCode">
                <xs:annotation>
                    <xs:documentation>Describes the type of Water Heating present in the Property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Immersion-Heating-Type" type="ImmersionHeatingTypeCode"/>
            <xs:element name="Cylinder-Size" type="CylinderSizeCode">
                <xs:annotation>
                    <xs:documentation>The size of the Hot Water Cylinder - taken from a range of standard sizes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cylinder-Size-Measured" type="Measurement" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Exact cylinder size if known. When Cylinder-Size code is 6.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cylinder-Insulation-Type" type="CylinderInsulationTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>the type of insulation surrounding the Hot Water Cylinder</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cylinder-Heat-Loss" type="Measurement" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Cylinder declared loss in kWh/day; only if there is a hot water store and if manufacturer declared loss.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cylinder-Insulation-Thickness" type="CylinderThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Average thickness of the insulation surrounding the Hot Water Cylinder.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cylinder-Thermostat" type="Flag" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Whether the cylinder has a thermostat. Omit if no cylinder.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Has-Fixed-Air-Conditioning" type="xs:boolean" default="false"/>
            <xs:element name="Main-Heating-Details" type="Main-Heating-Details"/>
            <xs:element name="Solar-Water-Heating-Details" type="Solar-Water-Heating-Details" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Included only when details are known</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Instantaneous-WWHRS" type="Instantaneous-WWHRS" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Waste Water Heat Recovery Systems</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Storage-WWHRS" type="Storage-WWHRS" minOccurs="0"/>
            <xs:element name="Shower-Outlets" type="Shower-Outlets" minOccurs="0"/>
            <xs:element name="Number-Baths" type="Count" minOccurs="0"/>
            <xs:element name="Number-Baths-WWHRS" type="Count" minOccurs="0"/>
            <xs:element name="Community-DHW-Network-Index-Number" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>index number of heat network, if applicable, community water heating only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Community-DHW-Sub-Network-Name" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>only if hot water only heat network from pcdb. The name by which the sub community heat network is known.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Community-DHW-Distribution-Type" type="SAP-HeatingDistributionCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>only if hot water only heat network.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Community-DHW-CHP-Electricity-Generation" type="SAP-CHPElectricityGenerationCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Only if community heating not from pcdb and a heat source with CHP. CHP Electricity generation options from table 12f.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Floor-Dimensions" type="SAP-Floor-Dimensions"/>
    <xs:complexType name="SAP-Floor-Dimensions">
        <xs:sequence>
            <xs:element name="SAP-Floor-Dimension" type="SAP-Floor-Dimension" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SAP-Integral-Conservatory" type="SAP-Integral-Conservatory"/>
    <xs:complexType name="SAP-Integral-Conservatory">
        <xs:annotation>
            <xs:documentation>A conservatory intergrated into the property that is within the heat-loss perimeter and forms part of the habitable area.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="Double-Glazed" type="Flag">
                <xs:annotation>
                    <xs:documentation>Indicates whether the conservatory is double glazed</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Floor-Area" type="Measurement">
                <xs:annotation>
                    <xs:documentation>The gross floor area of the conservatory</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Glazed-Perimeter" type="Measurement">
                <xs:annotation>
                    <xs:documentation>The length of the glazed area</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Room-Height" type="ConservatoryHeightCode">
                <xs:annotation>
                    <xs:documentation>The average height of the conservatory</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Flat-Details" type="SAP-Flat-Details"/>
    <xs:complexType name="SAP-Flat-Details">
        <xs:all>
            <xs:element name="Flat-Location" type="BlockStoreyCode">
                <xs:annotation>
                    <xs:documentation>Identifies the storey within the block that the entrance to the flat is located on</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Storey-Count" type="Count" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of Storeys in the Apartment Block.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Level" type="FlatLevelCode"/>
            <xs:element name="Top-Storey" type="Flag">
                <xs:annotation>
                    <xs:documentation>Indicates that the Apartment is located on the Top Storey of the Apartment Block.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Heat-Loss-Corridor" type="HeatLossCorridorCode">
                <xs:annotation>
                    <xs:documentation>Indiocates that the flat contained a cossidor through which heat is lost.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Unheated-Corridor-Length" type="Measurement" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The tortal length of unheated corridor in the flat. Only popualted if Heat-Loss-Corridor = {Unheated Corridor}</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Windows" type="SAP-Windows"/>
    <xs:complexType name="SAP-Windows">
        <xs:annotation>
            <xs:documentation>Details of the windows in the building</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SAP-Window" type="SAP-Window" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SAP-Window" type="SAP-Window"/>
    <xs:complexType name="SAP-Window">
        <xs:all>
            <xs:element name="Window-Location" type="BuildingPartCode"/>
            <xs:element name="Window-Height" type="Measurement"/>
            <xs:element name="Window-Width" type="Measurement"/>
            <xs:element name="Draught-Proofed" type="xs:boolean"/>
            <xs:element name="Glazing-Type" type="SAP-GlazingTypeCode"/>
            <xs:element name="Window-Type" type="WindowTypeCode"/>
            <xs:element name="Orientation" type="SAP-OrientationCode"/>
            <xs:element name="Window-Transmission-Details" type="Window-Transmission-Details" minOccurs="0"/>
            <xs:element name="PVC-Frame" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>include when Glazing-Type is 1 or 3. If true: wood or PVC, if false: metal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Glazing-Gap" type="SAP-GlazingGapTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>include when Glazing-Type is 1 or 3 and PVC-Frame is true.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Frame-Factor" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>include when frame factor is known.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Window-Wall-Type" type="WindowWallTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Identifies the type of wall the window is located</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Permanent-Shutters-Present" type="Flag">
                <xs:annotation>
                    <xs:documentation>
                    Identifies if permanent shutters are present
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Permanent-Shutters-Insulated" type="Flag">
                <xs:annotation>
                    <xs:documentation>
                    Identifies if permanent shutters are insulated. Include when permanent shutters are present
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Room-In-Roof" type="SAP-Room-In-Roof"/>
    <xs:complexType name="SAP-Room-In-Roof">
        <xs:all>
            <xs:element name="Floor-Area" type="Measurement"/>
            <xs:element name="Construction-Age-Band" type="ConstructionDateCode"/>
            <xs:element name="Room-In-Roof-Details" type="Room-In-Roof-Details" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Omit when Room-In-Roof details not included</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Room-In-Roof-Type-1" type="Room-In-Roof-Type-1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Required if detailed input not provided, and RR type 1</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Room-In-Roof-Type-2" type="Room-In-Roof-Type-2" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Required if detailed input not provided, and RR type 2</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Deselected-Improvements" type="SAP-Deselected-Improvements"/>
    <xs:complexType name="SAP-Deselected-Improvements">
        <xs:annotation>
            <xs:documentation>There are 22 possible improvement measures, designated from A to V. This must record measures deselected by DEA
(A to V is the full set, only E, N, U and V are considered at the moment for new build).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Deselected-Improvement-Measure" type="SAP-ImprovementMeasureCode" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Main-Heating-Details" type="Main-Heating-Details"/>
    <xs:complexType name="Main-Heating-Details">
        <xs:sequence>
            <xs:element name="Main-Heating" maxOccurs="2">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Main-Heating-Number">
                            <xs:annotation>
                                <xs:documentation>Identifies the main heating as system 1 or system 2.  System 1 must always be present, system 2 is included only when there are two systems.</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Main-Heating-Category" type="SAP-MainHeatingCategoryCode">
                            <xs:annotation>
                                <xs:documentation>Category of heating system for the main heating system.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Main-Fuel-Type" type="HeatingFuelTypeCode"/>
                        <xs:element name="Main-Heating-Control" type="SAP-HeatingCode">
                            <xs:annotation>
                                <xs:documentation>Type of Main Control for the Heating System.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Main-Heating-Index-Number" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The ID of the heating system from the product database, if system from database.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Main-Heating-Data-Source" type="BoilerDataSourceCode"/>
                        <xs:element name="SAP-Main-Heating-Code" type="SAP-HeatingCode" minOccurs="0"/>
                        <xs:element name="Boiler-Ignition-Type" type="BoilerIgnitionCode" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Only relevant for boilers 1998 or later.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Boiler-Flue-Type" type="BoilerFlueTypeCode" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Indicates the flue type of the heating system.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Fan-Flue-Present" type="Flag" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Indicates whether the heating system contains a fan flue. This is required by RdSAP and should be part of the 3-letter codes but isn't.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Heat-Emitter-Type" type="HeatEmitterCode">
                            <xs:annotation>
                                <xs:documentation>Identifies the means by which the central heating system (if present) emits heat.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Main-Heating-Fraction" type="xs:decimal">
                            <xs:annotation>
                                <xs:documentation>Fraction of total floor area served by this system.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Has-FGHRS" type="Flag">
                            <xs:annotation>
                                <xs:documentation>Flue Gas Heat Recovery System</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="FGHRS-Index-Number" type="xs:nonNegativeInteger" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>FGHRS index number; only if FGHRS</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="FGHRS-PV-Peak-Power" type="Measurement" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Applies only for FGHRS with its own PV supply</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="FGHRS-PV-Orientation" type="SAP-CompassDirectionCode" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Applies only for FGHRS with its own PV supply</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="FGHRS-PV-Pitch" type="SAP-VerticalPitchCode" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Applies only for FGHRS with its own PV supply</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="FGHRS-PV-Overshading" type="SAP-SolarCollectorOvershadingCode" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Applies only for FGHRS with its own PV supply</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Compensating-Controller-Index-Number" type="xs:positiveInteger" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The ID of the controller from the product database.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TTZC-Index-Number" type="xs:positiveInteger" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The ID of the time and temperature zone control from the product database.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Community-Heat-Network-Index-Number" type="xs:positiveInteger" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>index number of heat network, if applicable, community space heating or community space and water heating.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Community-Heat-Sub-Network-Name" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>only if heat network from pcdb. The name by which the sub community heat network is known.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Community-Heat-Distribution-Type" type="SAP-HeatingDistributionCode" minOccurs="0"/>
                        <xs:element name="Community-Heat-CHP-Electricity-Generation" type="SAP-CHPElectricityGenerationCode" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Only if community heating not from pcdb and a heat source with CHP. CHP Electricity generation options from table 12f.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Storage-Heaters" type="Storage-Heaters" minOccurs="0"/>
                        <xs:element name="Emitter-Temperature" type="EmitterTemperatureCode" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>0, 1, 3 or 4 applicable to condensing boilers and heat pumps.
Other systems NA.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="MCS-Installed-Heat-Pump" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Whether heat pump was installed under the Microgeneration Certification Scheme.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Central-Heating-Pump-Age" type="PumpAge" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Included for systems with a central heating pump, i.e. wet system.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Photovoltaic-Supply" type="Photovoltaic-Supply"/>
    <xs:complexType name="Photovoltaic-Supply">
        <xs:choice>
            <xs:element name="PV-Arrays" type="PV-Arrays" maxOccurs="3"/>
            <xs:element name="None-Or-No-Details">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="Percent-Roof-Area" type="Percentage">
                            <xs:annotation>
                                <xs:documentation>Photovoltaic area as percentage of total roof area.  0% indicates that a photovoltaic supply is not present in the property.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:element name="PV-Array" type="PV-Array"/>
    <xs:complexType name="PV-Array">
        <xs:all>
            <xs:element name="Peak-Power" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Peak kW of photovoltaics (PVs) (kWp).
If the total peak power has been apportioned between different dwellings within the same building, this is the kWp ascribed to the dwelling being assessed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Orientation" type="SAP-CompassDirectionCode">
                <xs:annotation>
                    <xs:documentation>PV orientation; only if peak kWp &gt; 0.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Pitch" type="SAP-VerticalPitchCode">
                <xs:annotation>
                    <xs:documentation>PV pitch; only if peak kWp &gt; 0.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Overshading" type="SAP-SolarCollectorOvershadingCode">
                <xs:annotation>
                    <xs:documentation>PV overshading; only if peak kWp &gt; 0.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="PV-Arrays" type="PV-Arrays"/>
    <xs:complexType name="PV-Arrays">
        <xs:sequence>
            <xs:element name="PV-Array" type="PV-Array"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PV-Batteries" type="PV-Batteries"/>
    <xs:complexType name="PV-Batteries">
        <xs:sequence>
            <xs:element name="PV-Battery" type="PV-Battery" maxOccurs="4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PV-Battery" type="PV-Battery"/>
    <xs:complexType name="PV-Battery">
        <xs:sequence>
            <xs:element name="Battery-Capacity" type="xs:decimal" default="5">
                <xs:annotation>
                    <xs:documentation>Battery capacity in kWh. defaults to 5kW in unknown.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Room-In-Roof-Details" type="Room-In-Roof-Details"/>
    <xs:complexType name="Room-In-Roof-Details">
        <xs:all>
            <xs:element name="Flat-Ceiling-Length-1" type="Measurement" minOccurs="0"/>
            <xs:element name="Flat-Ceiling-Height-1" type="Measurement" minOccurs="0"/>
            <xs:element name="Flat-Ceiling-U-Value-1" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Flat-Ceiling-Insulation-Thickness-1" type="RoofRoomInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Flat-Ceiling-Insulation-Type-1" type="RinRInsulationTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Flat-Ceiling-Insulation-Location-1" type="RoofInsulationLocationCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value and insulation type. Either U-value provided, or insulation type or location. To enable using table 16.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Flat-Ceiling-Length-2" type="Measurement" minOccurs="0"/>
            <xs:element name="Flat-Ceiling-Height-2" type="Measurement" minOccurs="0"/>
            <xs:element name="Flat-Ceiling-U-Value-2" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Flat-Ceiling-Insulation-Thickness-2" type="RoofRoomInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Flat-Ceiling-Insulation-Type-2" type="RinRInsulationTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Flat-Ceiling-Insulation-Location-2" type="RoofInsulationLocationCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value and insulation type. Either U-value provided, or insulation type or location. To enable using table 16.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Stud-Wall-Length-1" type="Measurement" minOccurs="0"/>
            <xs:element name="Stud-Wall-Height-1" type="Measurement" minOccurs="0"/>
            <xs:element name="Stud-Wall-U-Value-1" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Stud-Wall-Insulation-Thickness-1" type="RoofRoomInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Stud-Wall-Insulation-Type-1" type="RinRInsulationTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Stud-Wall-Length-2" type="Measurement" minOccurs="0"/>
            <xs:element name="Stud-Wall-Height-2" type="Measurement" minOccurs="0"/>
            <xs:element name="Stud-Wall-U-Value-2" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Stud-Wall-Insulation-Thickness-2" type="RoofRoomInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Stud-Wall-Insulation-Type-2" type="RinRInsulationTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Slope-Length-1" type="Measurement" minOccurs="0"/>
            <xs:element name="Slope-Height-1" type="Measurement" minOccurs="0"/>
            <xs:element name="Slope-U-Value-1" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Slope-Insulation-Thickness-1" type="RoofRoomInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Slope-Insulation-Type-1" type="RinRInsulationTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Slope-Length-2" type="Measurement" minOccurs="0"/>
            <xs:element name="Slope-Height-2" type="Measurement" minOccurs="0"/>
            <xs:element name="Slope-U-Value-2" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Slope-Insulation-Thickness-2" type="RoofRoomInsulationThicknessCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Slope-Insulation-Type-2" type="RinRInsulationTypeCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or thickness.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Gable-Wall-Length-1" type="Measurement" minOccurs="0"/>
            <xs:element name="Gable-Wall-Height-1" type="Measurement" minOccurs="0"/>
            <xs:element name="Gable-Wall-U-Value-1" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Gable-Wall-Type-1" type="GableType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or gable type to use table 4.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Gable-Wall-Length-2" type="Measurement" minOccurs="0"/>
            <xs:element name="Gable-Wall-Height-2" type="Measurement" minOccurs="0"/>
            <xs:element name="Gable-Wall-U-Value-2" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Gable-Wall-Type-2" type="GableType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Mutually exclusive with U-value. Either U-value provided, or gable type to use table 4.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Common-Wall-Length-1" type="Measurement" minOccurs="0"/>
            <xs:element name="Common-Wall-Height-1" type="Measurement" minOccurs="0"/>
            <xs:element name="Common-Wall-U-Value-1" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Common-Wall-Length-2" type="Measurement" minOccurs="0"/>
            <xs:element name="Common-Wall-Height-2" type="Measurement" minOccurs="0"/>
            <xs:element name="Common-Wall-U-Value-2" type="xs:decimal" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="Room-In-Roof-Type-1" type="Room-In-Roof-Type-1"/>
    <xs:complexType name="Room-In-Roof-Type-1">
        <xs:all>
            <xs:element name="Gable-Wall-Length-1" type="Measurement"/>
            <xs:element name="Gable-Wall-Type-1" type="GableType"/>
            <xs:element name="Gable-Wall-Length-2" type="Measurement"/>
            <xs:element name="Gable-Wall-Type-2" type="GableType"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="Room-In-Roof-Type-2" type="Room-In-Roof-Type-2"/>
    <xs:complexType name="Room-In-Roof-Type-2">
        <xs:all>
            <xs:element name="Gable-Wall-Length-1" type="Measurement"/>
            <xs:element name="Gable-Wall-Height-1" type="Measurement"/>
            <xs:element name="Gable-Wall-Type-1" type="GableType"/>
            <xs:element name="Gable-Wall-Length-2" type="Measurement"/>
            <xs:element name="Gable-Wall-Height-2" type="Measurement"/>
            <xs:element name="Gable-Wall-Type-2" type="GableType"/>
            <xs:element name="Common-Wall-Length-1" type="Measurement"/>
            <xs:element name="Common-Wall-Height-1" type="Measurement"/>
            <xs:element name="Common-Wall-Length-2" type="Measurement"/>
            <xs:element name="Common-Wall-Height-2" type="Measurement"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="Wind-Turbine-Details" type="Wind-Turbine-Details"/>
    <xs:complexType name="Wind-Turbine-Details">
        <xs:all>
            <xs:element name="Rotor-Diameter" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Diameter of rotor of wind turbine</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Hub-Height" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Height of rotor hub above ridge of roof</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="Solar-Water-Heating-Details" type="Solar-Water-Heating-Details"/>
    <xs:complexType name="Solar-Water-Heating-Details">
        <xs:all>
            <xs:element name="Solar-Panel-Collector-Data-Source" type="SAP-SolarCollectorDataSourceCode">
                <xs:annotation>
                    <xs:documentation>Source of solar panel collector data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Solar-Panel-Collector-Orientation" type="SAP-CompassDirectionCode">
                <xs:annotation>
                    <xs:documentation>Collector orientation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Solar-Panel-Collector-Pitch" type="SAP-VerticalPitchCode"/>
            <xs:element name="Solar-Panel-Collector-Overshading" type="SAP-SolarCollectorOvershadingCode"/>
            <xs:element name="Solar-Water-Pump" type="SolarPumpType">
                <xs:annotation>
                    <xs:documentation>Energy source for pumping water through the solar system</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Store-Volume-Details-Known" type="Flag">
                <xs:annotation>
                    <xs:documentation>When Y the total store volume, dedicated solar volume and combined cylinder are to be provided</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Solar-Collector-Details" type="Solar-Collector-Details" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Include when collector details known.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Solar-Volume-Details" type="Solar-Volume-Details" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Include when volume details known.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Shower-Types" type="ShowerTypeCode">
                <xs:annotation>
                    <xs:documentation>Type of showers in the property.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Collector-Loop-Efficiency" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Collector loop efficiency; only if declared values.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Incidence-Angle-Modifier" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Incidence angle modifier; only if declared values.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Is-Community-Solar" type="xs:boolean" default="false"/>
            <xs:element name="Service-Provision" type="ServiceProvisionCode"/>
            <xs:element name="Overall-Heat-Loss" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Overall heat loss coefficient of system; only if declared values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="Shower-Outlets" type="Shower-Outlets"/>
    <xs:complexType name="Shower-Outlets">
        <xs:annotation>
            <xs:documentation>Shower outlets present in the dwelling. If there are more than 5 then only include the 5 with the highest flow rates used.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Shower-Outlet" type="Shower-Outlet" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Shower-Outlet" type="Shower-Outlet"/>
    <xs:complexType name="Shower-Outlet">
        <xs:annotation>
            <xs:documentation>Various details for each shower outlet.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="Shower-Outlet-Type" type="ShowerTypeCode">
                <xs:annotation>
                    <xs:documentation>Hot water type for this shower outlet.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Shower-WWHRS" type="ShowerWWHRSCode">
                <xs:annotation>
                    <xs:documentation>The WWHRS with which the shower is connected. If shower outlet type is instantaneous electric shower then only a storage WWHRS can be selected or none.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="Instantaneous-WWHRS" type="Instantaneous-WWHRS"/>
    <xs:complexType name="Instantaneous-WWHRS">
        <xs:sequence>
            <xs:element name="WWHRS-Index-Number1" type="xs:positiveInteger"/>
            <xs:element name="WWHRS-Index-Number2" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Omit if no second system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Storage-WWHRS" type="Storage-WWHRS"/>
    <xs:complexType name="Storage-WWHRS">
        <xs:all>
            <xs:element name="WWHRS-Index-Number" type="xs:positiveInteger"/>
            <xs:element name="WWHRS-Store-Volume" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Dedicated store volume in litres.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="Window-Transmission-Details" type="Window-Transmission-Details"/>
    <xs:complexType name="Window-Transmission-Details">
        <xs:all>
            <xs:element name="Data-Source" type="SAP-OpeningDataSourceCode"/>
            <xs:element name="U-Value" type="xs:decimal"/>
            <xs:element name="Solar-Transmittance" type="xs:decimal"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="Solar-Collector-Details" type="Solar-Collector-Details"/>
    <xs:complexType name="Solar-Collector-Details">
        <xs:all>
            <xs:element name="Aperture-Area" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Panel aperture area in square metres.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Collector-Type" type="SAP-SolarCollectorTypeCode">
                <xs:annotation>
                    <xs:documentation>Type of solar panel collector.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Zero-Loss-Efficiency" type="Percentage">
                <xs:annotation>
                    <xs:documentation>Collector zero-loss efficiency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Heat-Loss-Rate" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Collector heat loss rate; for backward compatibility only, do not use.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Linear-Heat-Loss-Coefficient" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Collector linear heat loss coefficient.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Second-Order-Heat-Loss-Coefficient" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Collector 2nd order heat loss coefficient.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="Solar-Volume-Details" type="Solar-Volume-Details"/>
    <xs:complexType name="Solar-Volume-Details">
        <xs:all>
            <xs:element name="Total-Store-Volume" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Total volume of hot water store in litres.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Dedicated-Solar-Volume" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Volume of hot water store dedicated to solar heated water, in litres.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Combined-Cylinder" type="Flag">
                <xs:annotation>
                    <xs:documentation>If combined cylinder the total hot water store volume is inclusive of the dedicated solar volume.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="Storage-Heaters" type="Storage-Heaters"/>
    <xs:complexType name="Storage-Heaters">
        <xs:sequence>
            <xs:element name="Storage-Heater" type="Storage-Heater" maxOccurs="4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Storage-Heater" type="Storage-Heater"/>
    <xs:complexType name="Storage-Heater">
        <xs:all>
            <xs:element name="Number-Of-Heaters" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>The number of storage heaters with this index number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Index-Number" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>The index number of the heater from the product database.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="High-Heat-Retention" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Whether heater is high heat retention type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="SAP-Special-Features" type="SAP-Special-Features"/>
    <xs:complexType name="SAP-Special-Feature">
        <xs:sequence>
            <xs:element name="Description" type="xs:string"/>
            <xs:choice>
                <xs:element name="Energy-Feature" type="Energy-Feature"/>
                <xs:element name="Emissions-Feature" type="Emission-Feature"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SAP-Special-Features">
        <xs:sequence>
            <xs:element name="SAP-Special-Feature" type="SAP-Special-Feature" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Energy-Feature">
        <xs:all>
            <xs:element name="Energy-Saved-Or-Generated" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Energy saved or generated in kWh/year.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Saved-Or-Generated-Fuel" type="HeatingFuelTypeCode" minOccurs="0"/>
            <xs:element name="Energy-Used" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Energy used in kWh/year.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Energy-Used-Fuel" type="HeatingFuelTypeCode" minOccurs="0"/>
            <xs:element name="Air-Change-Rates" type="Air-Change-Rates" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>For Appendix Q procedure that provides air change rates. Only one Special Feature can have data on air change rates.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="Emission-Feature" type="Emission-Feature"/>
    <xs:complexType name="Emission-Feature">
        <xs:all>
            <xs:element name="Emissions-Saved" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Emissions saved in kg/year.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Emissions-Created" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Additional emissions in kg/year.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="Air-Change-Rates">
        <xs:sequence>
            <xs:element name="Air-Change-Rate" type="Air-Change-Rate" minOccurs="12" maxOccurs="12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Air-Change-Rate" type="Air-Change-Rate"/>
    <xs:complexType name="Air-Change-Rate">
        <xs:all>
            <xs:element name="Air-Change-Rate-Month" type="AirChangeRateMonth"/>
            <xs:element name="Air-Change-Rate-Value" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>Air change rate in month.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:element name="Previous-EPC-Check" type="Previous-EPC-Check"/>
    <xs:complexType name="Previous-EPC-Check">
        <xs:sequence>
            <xs:element name="Previous-EPC-Checked" type="PreviousEpcCheckedCode">
                <xs:annotation>
                    <xs:documentation>Confirm a check for the existence of an EPC before carrying out another energy assessment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Previous-EPC-Exists" type="PreviousEpcExistsCode">
                <xs:annotation>
                    <xs:documentation>Does an EPC exist at the point of carrying out this energy assessment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Previous-EPC-Reason-Code" type="PreviousEpcReasonCode" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Reason for not using a previous RdSAP EPC.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
