api/schemas/xml/DECAR-S-7.0/Reports/Reported-Data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Niall Horgan (Bridgeall Technology) -->
<xs:schema xmlns="DCLG-CEPC" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:UDT="DCLG-CEPC" xmlns:CEPC="DCLG-CEPC" targetNamespace="DCLG-CEPC" elementFormDefault="qualified" version="LIG-CEPC-7.0">
	<xs:include schemaLocation="../Reports/BaseDataTypes.xsd"/>
	<xs:element name="Report-Data" type="Report-Data"/>
	<xs:complexType name="Report-Data" abstract="true">
		<xs:all/>
	</xs:complexType>
	<xs:element name="Technical-Information" type="Technical-Information"/>
	<xs:complexType name="Technical-Information">
		<xs:all>
			<xs:element name="Main-Heating-Fuel" type="HeatingFuelTypeCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Main Heating Fuel used in the building. This is onl;y required for a Display Energy Certificate or Energy Performance Certificate and doesn't appear on the Recommendations Report or Advisory Report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other-Fuel-Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Text description of unspecified fuel type if Other is selected for Main-Heating-Fuel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building-Environment" type="BuildingEnvironmentCode">
				<xs:annotation>
					<xs:documentation>Services</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Floor-Area" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Total Useful Floor Area (M^2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building-Level" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Building Complexity Level. This is onl;y required for an Energy Performance Certificate and doesn't appear on the Recommendations Report or Advisory Report or Display Energy Certificate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Special-Energy-Uses" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Special energy uses discounted. This only appears on the advisory Report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Renewable-Sources" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>On-site renewable energy sources. This only appears on the Advisory Report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OR-Availability-Date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date that the Operational Rating will be available if its not already.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Separately-Metered-Electric-Heating" type="xs:boolean" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="BuildingEnvironmentCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Air Conditioning">
				<xs:annotation>
					<xs:documentation>Air Conditioned</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Heating and Natural Ventilation"/>
			<xs:enumeration value="Heating and Mechanical Ventilation"/>
			<xs:enumeration value="Mixed-mode with Natural Ventilation"/>
			<xs:enumeration value="Mixed-mode with Mechanical Ventilation"/>
			<xs:enumeration value="Unconditioned"/>
			<xs:enumeration value="Natural Ventilation Only"/>
			<xs:enumeration value="Mechanical Ventilation Only"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DEC-Annual-Energy-Summary" type="DEC-Annual-Energy-Summary"/>
	<xs:complexType name="DEC-Annual-Energy-Summary">
		<xs:all>
			<xs:element name="Annual-Energy-Use-Fuel-Thermal" type="xs:int">
				<xs:annotation>
					<xs:documentation>Annual Energy Use (kWh/m2 p.a)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Annual-Energy-Use-Electrical" type="xs:int">
				<xs:annotation>
					<xs:documentation>Annual Energy Use (kWh/m2 p.a)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Renewables-Fuel-Thermal" type="Percentage">
				<xs:annotation>
					<xs:documentation>Energy from on-site renewable sources</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Renewables-Electrical" type="Percentage">
				<xs:annotation>
					<xs:documentation>Energy from on-site renewable sources</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Typical-Thermal-Use" type="xs:int">
				<xs:annotation>
					<xs:documentation>Benchmark (kWh/m2 p.a)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Typical-Electrical-Use" type="xs:int">
				<xs:annotation>
					<xs:documentation>Benchmark (kWh/m2 p.a)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="AR-Recommendation" type="AR-Recommendation"/>
	<xs:complexType name="AR-Recommendation">
		<xs:all>
			<xs:element name="Recommendation-Code" type="xs:string"/>
			<xs:element name="Recommendation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Recommendation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CO2-Impact" type="CO2ImpactCode">
				<xs:annotation>
					<xs:documentation>Potential impact on CO2 emmissions if the change is carried out.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="Advisory-Report" type="Advisory-Report"/>
	<xs:complexType name="Advisory-Report">
		<xs:all>
			<xs:element name="AR-Recommendations" type="AR-Recommendations" minOccurs="0"/>
			<xs:element name="Technical-Information" type="Technical-Information"/>
			<xs:element name="Site-Services" type="Site-Services"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="AR-Recommendations" type="AR-Recommendations"/>
	<xs:complexType name="AR-Recommendations">
		<xs:sequence>
			<xs:element name="Short-Payback" type="AR-Recommendation" minOccurs="0" maxOccurs="15">
				<xs:annotation>
					<xs:documentation>Short Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Medium-Payback" type="AR-Recommendation" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Medium Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Long-Payback" type="AR-Recommendation" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Long Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other-Payback" type="AR-Recommendation" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Other Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CO2ImpactCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="MEDIUM"/>
			<xs:enumeration value="LOW"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Site-Services" type="Site-Services"/>
	<xs:complexType name="Site-Services">
		<xs:all>
			<xs:element name="Service-1" type="Site-Service">
				<xs:annotation>
					<xs:documentation>Details of Site Services 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Service-2" type="Site-Service">
				<xs:annotation>
					<xs:documentation>Details of Site Services 2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Service-3" type="Site-Service">
				<xs:annotation>
					<xs:documentation>Details of Site Services 3</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="Site-Service" type="Site-Service"/>
	<xs:complexType name="Site-Service">
		<xs:all>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="Quantity" type="xs:int"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="DEC-Energy-Assessment" type="DEC-Energy-Assessment"/>
	<xs:complexType name="DEC-Energy-Assessment">
		<xs:all>
			<xs:element name="Nominated-Date" type="xs:date">
				<xs:annotation>
					<xs:documentation>Nominated date for DEC 1. Display as MMM-YYYY.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Energy-Rating" type="EnergyRatingType">
				<xs:annotation>
					<xs:documentation>Energy-Rating</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Electricity-CO2" type="xs:int">
				<xs:annotation>
					<xs:documentation>Total CO2 emissions from Electricity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Heating-CO2" type="xs:int">
				<xs:annotation>
					<xs:documentation>Total CO2 emissions from Heating</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Renewables-CO2" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total CO2 emissions from Renewable sources</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="Display-Certificate" type="Display-Certificate"/>
	<xs:complexType name="Display-Certificate">
		<xs:all>
			<xs:element name="DEC-Status" type="DECStatusCode" minOccurs="0"/>
			<xs:element name="Reason-Type" type="ReasonType"/>
			<xs:element name="DEC-Related-Party-Disclosure" type="DECDisclosureCode">
				<xs:annotation>
					<xs:documentation>Code indicating any potential conflicts of interest or commercial relationships with other parties.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="This-Assessment" type="DEC-Energy-Assessment"/>
			<xs:element name="Technical-Information" type="Technical-Information"/>
			<xs:element name="DEC-Annual-Energy-Summary" type="DEC-Annual-Energy-Summary"/>
			<xs:element name="Year1-Assessment" type="DEC-Energy-Assessment" minOccurs="0"/>
			<xs:element name="Year2-Assessment" type="DEC-Energy-Assessment" minOccurs="0"/>
			<xs:element name="AC-Questionnaire" type="AC-Questionnaire" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="EnergyRatingType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="HeatingFuelTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Natural Gas"/>
			<xs:enumeration value="LPG">
				<xs:annotation>
					<xs:documentation>LPG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Biogas">
				<xs:annotation>
					<xs:documentation>biogas - landfill</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Oil">
				<xs:annotation>
					<xs:documentation>oil</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Coal">
				<xs:annotation>
					<xs:documentation>house coal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Anthracite">
				<xs:annotation>
					<xs:documentation>anthracite</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Smokeless Fuel (inc Coke)">
				<xs:annotation>
					<xs:documentation>Smokeless Fuel including Coke</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Dual Fuel Appliances (Mineral + Wood)">
				<xs:annotation>
					<xs:documentation>dual fuel - mineral + wood</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Biomass">
				<xs:annotation>
					<xs:documentation>biomass</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Grid Supplied Electricity">
				<xs:annotation>
					<xs:documentation>Mains Electricity</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Grid Displaced Electricity"/>
			<xs:enumeration value="Waste Heat"/>
			<xs:enumeration value="District Cooling"/>
			<xs:enumeration value="District Heating"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AC-Questionnaire" type="AC-Questionnaire"/>
	<xs:complexType name="AC-Questionnaire">
		<xs:sequence>
			<xs:element name="AC-Present" type="YN_Flag">
				<xs:annotation>
					<xs:documentation>Does the building have an air conditioning system?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AC-Rated-Output" type="ACRatedOuput">
				<xs:annotation>
					<xs:documentation>What is the total effective rated output in kW if known</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AC-Estimated-Output" type="ACEstimatedOutput" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If exact rating unknown, what is the estimated total effective output rating of the air conditioning system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AC-Inspection-Commissioned" type="ACInspectionCommissioned">
				<xs:annotation>
					<xs:documentation>Has an air conditioning inspection been commissioned?</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReasonType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Mandatory issue (occupier and building qualify under Energy Performance of Buildings regulations)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Mandatory issue (DEC based on disaggregated site data, occupier and building qualify under Energy Performance of Buildings regulations) </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Voluntary (occupier qualifies under Energy Performance of Buildings regulations, building is below area threshold) </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Voluntary (occupier does not qualify under Energy Performance of Buildings regulations)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Voluntary site-wide DEC (provided by occupier who qualifies under the Energy Performance of Buildings regulations, in addition to the building DECs)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>Voluntary site-wide DEC (provided by occupier who does not qualify under Energy Performance of Buildings regulations)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>Not recorded</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DECDisclosureCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Not related to the occupier.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Employed by the occupier.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Contractor to the occupier for Section 63 services only.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Contractor to the occupier for non-Section 63 services.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Indirect relation to the occupier.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>Financial interest in the occupier and/or property.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>Previous relation to the occupier.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation>Not recorded.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
