api/schemas/xml/CEPC-4.0/Reports/Reported-Data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="DCLG-CEPC" xmlns="DCLG-CEPC" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:UDT="DCLG-CEPC" xmlns:CEPC="DCLG-CEPC" elementFormDefault="qualified" version="LIG-CEPC-4.0">
	<xs:include schemaLocation="Report-Header.xsd"/>
	<xs:include schemaLocation="../Reports/BaseDataTypes.xsd"/>
	<xs:element name="Report-Data" type="Report-Data"/>
	<xs:complexType name="Report-Data" abstract="true">
		<xs:all/>
	</xs:complexType>
	<xs:element name="Technical-Information" type="Technical-Information"/>
	<xs:complexType name="Technical-Information">
		<xs:all>
			<xs:element name="Main-Heating-Fuel" type="HeatingFuelTypeCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Main Heating Fuel used in the building. This is onl;y required for a Display Energy Certificate or Energy Performance Certificate and doesn't appear on the Recommendations Report or Advisory Report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other-Fuel-Description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Text description of unspecified fuel type if Other is selected for Main-Heating-Fuel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building-Environment" type="BuildingEnvironmentCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Services</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Floor-Area" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total Useful Floor Area (M^2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building-Level" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Building Complexity Level. This is onl;y required for an Energy Performance Certificate and doesn't appear on the Recommendations Report or Advisory Report or Display Energy Certificate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Special-Energy-Uses" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Special energy uses discounted. This only appears on the advisory Report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Renewable-Sources" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>On-site renewable energy sources. This only appears on the Advisory Report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OR-Availability-Date" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date that the Operational Rating will be available if its not already.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Separately-Metered-Electric-Heating" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="BuildingEnvironmentCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Air Conditioning">
				<xs:annotation>
					<xs:documentation>Air Conditioned</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Heating and Natural Ventilation"/>
			<xs:enumeration value="Heating and Mechanical Ventilation"/>
			<xs:enumeration value="Mixed-mode with Natural Ventilation"/>
			<xs:enumeration value="Mixed-mode with Mechanical Ventilation"/>
			<xs:enumeration value="Unconditioned"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DEC-Annual-Energy-Summary" type="DEC-Annual-Energy-Summary"/>
	<xs:complexType name="DEC-Annual-Energy-Summary">
		<xs:all>
			<xs:element name="Annual-Energy-Use-Fuel-Thermal" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Annual Energy Use (kWh/m2 p.a)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Annual-Energy-Use-Electrical" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Annual Energy Use (kWh/m2 p.a)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Renewables-Fuel-Thermal" type="Percentage" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Energy from on-site renewable sources</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Renewables-Electrical" type="Percentage" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Energy from on-site renewable sources</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Typical-Thermal-Use" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Benchmark (kWh/m2 p.a)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Typical-Electrical-Use" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Benchmark (kWh/m2 p.a)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="EPC-Rating" type="EPC-Rating"/>
	<xs:complexType name="EPC-Rating">
		<xs:all>
			<xs:element name="Asset-Rating" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Asset Rating</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="New-Build-Benchmark" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Benchmark value if the Building was newly built.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Existing-Stock-Benchmark" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Benchmark value of existing stock for this type of Building </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="AR-Recommendation" type="AR-Recommendation"/>
	<xs:complexType name="AR-Recommendation">
		<xs:all>
			<xs:element name="Recommendation-Code" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Recommendation" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Recommendation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CO2-Impact" type="CO2ImpactCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Potential impact on CO2 emmissions if the change is carried out.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="Advisory-Report" type="Advisory-Report"/>
	<xs:complexType name="Advisory-Report">
		<xs:all>
			<xs:element name="AR-Recommendations" type="AR-Recommendations" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Technical-Information" type="Technical-Information" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Site-Services" type="Site-Services" minOccurs="1" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="AR-Recommendations" type="AR-Recommendations"/>
	<xs:complexType name="AR-Recommendations">
		<xs:sequence>
			<xs:element name="Short-Payback" type="AR-Recommendation" minOccurs="0" maxOccurs="15">
				<xs:annotation>
					<xs:documentation>Short Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Medium-Payback" type="AR-Recommendation" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Medium Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Long-Payback" type="AR-Recommendation" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Long Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other-Payback" type="AR-Recommendation" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Other Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CO2ImpactCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="MEDIUM"/>
			<xs:enumeration value="LOW"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Site-Services" type="Site-Services"/>
	<xs:complexType name="Site-Services">
		<xs:all>
			<xs:element name="Service-1" type="Site-Service" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Details of Site Services 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Service-2" type="Site-Service" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Details of Site Services 2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Service-3" type="Site-Service" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Details of Site Services 3</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="Site-Service" type="Site-Service"/>
	<xs:complexType name="Site-Service">
		<xs:all>
			<xs:element name="Description" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Quantity" type="xs:int" minOccurs="1" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="DEC-Energy-Assessment" type="DEC-Energy-Assessment"/>
	<xs:complexType name="DEC-Energy-Assessment">
		<xs:all>
			<xs:element name="Nominated-Date" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nominated date for DEC 1. Display as MMM-YYYY.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Energy-Rating" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Energy-Rating
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Electricity-CO2" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total CO2 emissions from Electricity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Heating-CO2" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total CO2 emissions from Heating</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Renewables-CO2" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total CO2 emissions from Renewable sources</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="Display-Certificate" type="Display-Certificate"/>
	<xs:complexType name="Display-Certificate">
		<xs:all>
			<xs:element name="DEC-Status" type="DECStatusCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="This-Assessment" type="DEC-Energy-Assessment" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Technical-Information" type="Technical-Information" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DEC-Annual-Energy-Summary" type="DEC-Annual-Energy-Summary" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Year1-Assessment" type="DEC-Energy-Assessment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Year2-Assessment" type="DEC-Energy-Assessment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AC-Questionnaire" type="AC-Questionnaire" minOccurs="1" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="EnergyRatingType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:element name="Energy-Performance-Certificate" type="Energy-Performance-Certificate"/>
	<xs:complexType name="Energy-Performance-Certificate">
		<xs:all>
			<xs:element name="EPC-Rating-Scale" type="EPC-Rating-Scale" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Technical-Information" type="Technical-Information" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EPC-Rating" type="EPC-Rating" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AC-Questionnaire" type="AC-Questionnaire" minOccurs="1" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="EPC-Rating-Scale" type="EPC-Rating-Scale"/>
	<xs:complexType name="EPC-Rating-Scale">
		<xs:annotation>
			<xs:documentation>Defines the banded values for the Energy rating scale on the EPC. </xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Upper-Number-A-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Upper number on A scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lower-Number-B-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lower number on B scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Upper-Number-B-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Upper number on B scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lower-Number-C-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lower number on C scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Upper-Number-C-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Upper number on C scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lower-Number-D-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lower number on D scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Upper-Number-D-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Upper number on D scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lower-Number-E-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lower number on E scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Upper-Number-E-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Upper number on E scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lower-Number-F-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lower number on F scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Upper-Number-F-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Upper number on F scale</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lowest-Number-G-Scale" type="EnergyRatingType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lowest number on G scale</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="RR-Recommendation" type="RR-Recommendation"/>
	<xs:complexType name="RR-Recommendation">
		<xs:all>
			<xs:element name="Recommendation-Code" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Recommendation Code that identifis this particular recommendation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Recommendation" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Recommendation selected by the energy assessor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CO2-Impact" type="CO2ImpactCode" minOccurs="1" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="RR-Recommendations" type="RR-Recommendations"/>
	<xs:complexType name="RR-Recommendations">
		<xs:sequence>
			<xs:element name="Short-Payback" type="RR-Recommendation" minOccurs="0" maxOccurs="15">
				<xs:annotation>
					<xs:documentation>Short Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Medium-Payback" type="RR-Recommendation" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Medium Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Long-Payback" type="RR-Recommendation" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>Long Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other-Payback" type="RR-Recommendation" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation>Other Payback Recommendations</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Recommendations-Report" type="Recommendations-Report"/>
	<xs:complexType name="Recommendations-Report">
		<xs:all>
			<xs:element name="RR-Recommendations" type="RR-Recommendations" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Technical-Information" type="Technical-Information" minOccurs="1" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="HeatingFuelTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Natural Gas"/>
			<xs:enumeration value="LPG">
				<xs:annotation>
					<xs:documentation>LPG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Biogas">
				<xs:annotation>
					<xs:documentation>biogas - landfill</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Oil">
				<xs:annotation>
					<xs:documentation>oil</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Coal">
				<xs:annotation>
					<xs:documentation>house coal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Anthracite">
				<xs:annotation>
					<xs:documentation>anthracite</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Smokeless Fuel (inc Coke)">
				<xs:annotation>
					<xs:documentation>Smokeless Fuel including Coke</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Dual Fuel Appliances (Mineral + Wood)">
				<xs:annotation>
					<xs:documentation>dual fuel - mineral + wood</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Biomass">
				<xs:annotation>
					<xs:documentation>biomass</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Grid Supplied Electricity">
				<xs:annotation>
					<xs:documentation>Mains Electricity</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Grid Displaced Electricity"/>
			<xs:enumeration value="Waste Heat"/>
			<xs:enumeration value="District Cooling"/>
			<xs:enumeration value="District Heating"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Air-Conditioning-Inspection-Report" type="Air-Conditioning-Inspection-Report"/>
	<xs:complexType name="Air-Conditioning-Inspection-Report">
		<xs:annotation>
			<xs:documentation>The primary aim of the report is to give the building owner or operator information about the performance of the systems and plant and to identify opportunities to save energy and cut operating costs.

The report identifies any operating anomalies; no-cost/low-cost savings and capital investment opportunities; the size and appropriateness of refrigeration plant in relation to cooling loads and the effectiveness of current maintenance regimes. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Executive-Summary" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ACI-System-Components" type="ACI-System-Components" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ACI-Recommendations" type="ACI-Recommendations" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ACI-System-Components" type="ACI-System-Components"/>
	<xs:complexType name="ACI-System-Components">
		<xs:sequence>
			<xs:element name="System-Documentation" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Refrigeration-Plant" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Heat-Rejection-Equipment" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Waterborne-Air-Conditioning" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Airborne-Air-Conditioning" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Airborne-Air-Handling-Units" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Outdoor-Inlets" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="System-Controls" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ACI-Recommendations" type="ACI-Recommendations"/>
	<xs:complexType name="ACI-Recommendations">
		<xs:sequence>
			<xs:element name="System-Efficiency" type="ACI-Recommendations-List" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An assessment of the air-conditioning efficiency and the sizing of the system compared to the cooling requirements of the building. e.g. [Comparing the building's annual energy consumption against performance benchmarks indicates that there is some scope for improvement.]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Improvement-Options" type="ACI-Recommendations-List" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Alternative-Solutions" type="ACI-Recommendations-List" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Other-Recommendations" type="ACI-Recommendations-List" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Equipment-Operator" type="Equipment-Operator"/>
	<xs:complexType name="Equipment-Operator">
		<xs:annotation>
			<xs:documentation>Details of the organisation that operate the equipment (if different to equipment owner)</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Responsible-Person" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Telephone-Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Organisation-Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Registered-Address" type="AddressType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Registered Address of the organisation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Air-Conditioning-Reports" type="Air-Conditioning-Reports"/>
	<xs:complexType name="Air-Conditioning-Reports">
		<xs:all>
			<xs:element name="Content-Type" type="ContentTypeCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of Air Conditioning Report</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Single-Centralised-Cooling-System" type="Single-Centralised-Cooling-System" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Packaged-Cooling-System" type="Packaged-Cooling-System" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Air-Conditioning-Inspection-Report" type="Air-Conditioning-Inspection-Report" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Equipment-Operator" type="Equipment-Operator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Equipment-Owner" type="Equipment-Owner" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="PCS-Pre-Inspection-Essential" type="PCS-Pre-Inspection-Essential"/>
	<xs:complexType name="PCS-Pre-Inspection-Essential">
		<xs:sequence>
			<xs:element name="List-Of-Systems" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Itemised list of installed packaged cooling systems including product makes, models and identification numbers together with cooling capacities and locations of the equipment.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Temperature-Control-Method" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of method of control of temperature.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operation-Control-Method" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of method of control of periods of operation.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PCS-Site-Visit-Work-Items" type="PCS-Site-Visit-Work-Items"/>
	<xs:complexType name="PCS-Site-Visit-Work-Items">
		<xs:sequence>
			<xs:element name="System-Number" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of systems that were inspected in the Property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="System-Identifier" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A meaningful label with which to identify the system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PCS-Visual-Inspection" type="PCS-Visual-Inspection" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PCS-Sizing" type="PCS-Sizing" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PCS-Refrigeration" type="PCS-Refrigeration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PCS-Metering" type="PCS-Metering" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PCS-Equipment-Details" type="PCS-Equipment-Details" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PCS-System-Control" type="PCS-System-Control" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Packaged-Cooling-System" type="Packaged-Cooling-System"/>
	<xs:complexType name="Packaged-Cooling-System">
		<xs:sequence>
			<xs:element name="Number-Of-Systems" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of systems that were inspected in the Property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Effective-Rating" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective rated output of the all air-conditioning in the building. This is a calculated value produced by the Inspector.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Single-System-Control" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PCS-Pre-Inspection-Information" type="PCS-Pre-Inspection-Information" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PCS-Site-Visit-Work-Items" type="PCS-Site-Visit-Work-Items" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="PCS-System-Control" type="PCS-System-Control" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PCS-Pre-Inspection-Information" type="PCS-Pre-Inspection-Information"/>
	<xs:complexType name="PCS-Pre-Inspection-Information">
		<xs:sequence>
			<xs:element name="PCS-Pre-Inspection-Essential" type="PCS-Pre-Inspection-Essential" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PCS-Pre-Inspection-Desirable" type="PCS-Pre-Inspection-Desirable" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PCS-Pre-Inspection-Optional" type="PCS-Pre-Inspection-Optional" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AcceptableRangeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>As Expected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Less Than Expected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>More Than Expected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PCS-Pre-Inspection-Desirable" type="PCS-Pre-Inspection-Desirable"/>
	<xs:complexType name="PCS-Pre-Inspection-Desirable">
		<xs:sequence>
			<xs:element name="Previous-Reports" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reports from earlier inspections of air conditioning systems, and for the generation of an energy performance certificate.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Maintenance-Records" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Records of maintenance operations carried out including filter changing, cleaning indoor and outdoor heat exchangers, refrigerant leakage tests, repairs to refrigeration components or replenishing with refrigerant.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Calibration-Records" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Records of calibration and maintenance operations carried out on control systems and sensors

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consumption-Records" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Records of sub-metered air conditioning plant use or energy consumption

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PCS-Pre-Inspection-Optional" type="PCS-Pre-Inspection-Optional"/>
	<xs:complexType name="PCS-Pre-Inspection-Optional">
		<xs:sequence>
			<xs:element name="Cooling-Load-Estimate" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An estimate of the design cooling load for each system (if available). Otherwise, a brief description of the occupation of the cooled spaces, and of power consuming equipment normally used in those spaces.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Complaint-Records" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Records of any issues or complaints that have been raised concerning the indoor comfort conditions achieved in the treated spaces.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PCS-Visual-Inspection" type="PCS-Visual-Inspection"/>
	<xs:complexType name="PCS-Visual-Inspection">
		<xs:sequence>
			<xs:element name="Area-Clear" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is area around equipment clear of obstructions &amp;amp; debris, both to operators and to airflow?

If Flag = "No" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="General-Condition" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is general condition of the indoor and/or outdoor units in good order?

If Flag = "No" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Temperature-Difference" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Assess temperature difference / and observe refrigerant via sight glass or pressure gauge. Is this satisfactory?

If Flag = "No" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Blocked-Heat-Exchanger" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is the heat exchanger partially blocked or undersized?

If Flag = "Yes" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Condensation-Evidence" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is there evidence of icing or excessive condensation?

If Flag = "Yes" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Refrigerant-Leak" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Does area around plant show signs of oily stains indicative of a refrigerant leak?

If Flag = "Yes" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airflow-Obstructions" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Are there any obstructions to airflow through the outdoor and indoor unit heat exchangers?

If Flag = "Yes" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Air-Recirculation" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is there any potential for recirculation of warm air?

If Flag = "Yes" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Parts-Condition" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Check condition of indoor grilles, filters and terminal units.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PCS-System-Control" type="PCS-System-Control"/>
	<xs:complexType name="PCS-System-Control">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="Zoning-Assessment" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Assess zoning in relation to factors such as local levels of internal gain, orientation and exposure to solar radiation. Is zoning appropriate?

If Flag = "No" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Current-Indicated-Time" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note the current indicated weekday and time of day on controllers against the actual time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Set-On-Period" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note the set on and off periods (for weekday and weekend if this facility is available with the timer).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timer-Shortfall" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is there a shortfall in timer capabilities?

If Flag = "No" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sensors-Appropriate" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identify and assess zone heating and cooling temperature control sensors.  Are the sensor types and locations appropriate in relation to heating and cooling emitters, heat flows or likely temperature distributions in the zone or space?

If Flag = "No" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Set-Temperature" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note the set temperature in each zone for heating and cooling in relation to the activities and occupancy of zones and spaces in relation to the manager's intent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Visible-Guidance" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Are guidance notices visible or controls available to inhibit use of cooling equipment whilst windows are open or cooling/heating is on?

If Flag = "No" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Equipment-Capacity" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note type, age and method of capacity of control equipment.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Current-Practice" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Compare with current good practice</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PCS-Sizing" type="PCS-Sizing"/>
	<xs:complexType name="PCS-Sizing">
		<xs:annotation>
			<xs:documentation>This section compares system sizes with likely loads. Section 4 TM44 contains simple procedures for assessing whether refrigeration systems and air supply systems are likely to be oversized.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Total-Occupants" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Total-Floor-Area" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The total floow area in square metres</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Occupant-Density" type="xs:float" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The average number of oiccuipants per square metre. Calculated as [Total-Floor-Area] / Total-Occupants]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lower-Heat-Gain" type="xs:float" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Upper-Heat-Gain" type="xs:float" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Installed-Capacity" type="xs:float" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Acceptable-Installed-Size" type="AcceptableRangeCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whjether the size of the Cooling Plant is accptable size for the property. "Yes" indicates "acceptable" and "No" indicates "Unacceptable".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PCS-Refrigeration" type="PCS-Refrigeration"/>
	<xs:complexType name="PCS-Refrigeration">
		<xs:annotation>
			<xs:documentation>In operation observe the temperature difference across the refrigeration compressor. Compared with the ambient temperature in the plant room / outside air.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Pre-Compressor" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Post-Processor" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Ambient" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Acceptable-Temperature" type="AcceptableRangeCode" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PCS-Metering" type="PCS-Metering"/>
	<xs:complexType name="PCS-Metering">
		<xs:sequence>
			<xs:element name="Metering-Installed" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is metering installed to enable monitoring of energy consumption of refrigeration plant?

If Flag = "Yes" then Note conatins Meter Reading else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BEM-Installed" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is a BEMs installed in the building which can warn about out of range alarms?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PCS-Equipment-Details" type="PCS-Equipment-Details"/>
	<xs:complexType name="PCS-Equipment-Details">
		<xs:annotation>
			<xs:documentation>Details of the system inspected.

There is one of these for each system inspected as defined in Number-Of-Systems in containing block.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Discrepancy-Note" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Manufacturer" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Model-Reference" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Serial-Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Year-Installed" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Cooling-Capacity" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Refrigerant-Type" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Location" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify location of indoor and outdoor units if applicable. i.e. outdoor unit located on roof within louvered enclosure, indoor unit in conference room above ceiling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area-Served" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the area of the building that this particuolar Cooling System serves.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Single-Centralised-Cooling-System" type="Single-Centralised-Cooling-System"/>
	<xs:complexType name="Single-Centralised-Cooling-System">
		<xs:sequence>
			<xs:element name="Number-Of-Air-Handling-Systems" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of Air Handling Systems that were inspected in the Property. THis is the number of Air Handling System sections that will be completed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number-Of-Terminal-Units" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of Terminal Units that were inspected. This is the number of Terminal Unit sections that will be completed in the report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number-Of-Cooling-Plants" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of Cooling Plants that were inspected. This is the number of Cooling Plant sections that will be completed in the report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number-Of-System-Controls" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of System Controls that were inspected. This is the number of System Control sections that will be completed in the report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Effective-Rating" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective rated output of the all air-conditioning in the building. This is a calculated value produced by the Inspector.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCCS-Pre-Inspection-Information" type="SCCS-Pre-Inspection-Information" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Cooling-Plant" type="SCCS-Cooling-Plant" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="SCCS-System-Control" type="SCCS-System-Control" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="SCCS-Air-Handling-System" type="SCCS-Air-Handling-System" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="SCCS-Terminal-Unit" type="SCCS-Terminal-Unit" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Pre-Inspection-Information" type="SCCS-Pre-Inspection-Information"/>
	<xs:complexType name="SCCS-Pre-Inspection-Information">
		<xs:sequence>
			<xs:element name="SCCS-Pre-Inspection-Essential" type="SCCS-Pre-Inspection-Essential" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Pre-Inspection-Desirable" type="SCCS-Pre-Inspection-Desirable" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Pre-Inspection-Optional" type="SCCS-Pre-Inspection-Optional" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Cooling-Plant" type="SCCS-Cooling-Plant"/>
	<xs:complexType name="SCCS-Cooling-Plant">
		<xs:sequence>
			<xs:element name="System-Number" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier for each Cooling Plant that was inspected</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="System-Identifier" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A meaningful label with which to identify the system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCCS-Cooling-Plant-Equipment" type="SCCS-Cooling-Plant-Equipment" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Cooling-Plant-Inspection" type="SCCS-Cooling-Plant-Inspection" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Cooling-Plant-Sizing" type="SCCS-Cooling-Plant-Sizing" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Cooling-Plant-Refrigeration" type="SCCS-Cooling-Plant-Refrigeration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Cooling-Plant-Chillers" type="SCCS-Cooling-Plant-Chillers" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Cooling-Plant-Maintenance" type="SCCS-Cooling-Plant-Maintenance" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Cooling-Plant-Metering" type="SCCS-Cooling-Plant-Metering" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Cooling-Plant-Humidity-Control" type="SCCS-Cooling-Plant-Humidity-Control" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Cooling-Plant-Inspection" type="SCCS-Cooling-Plant-Inspection"/>
	<xs:complexType name="SCCS-Cooling-Plant-Inspection">
		<xs:sequence>
			<xs:element name="Heat-Rejection-Operational" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is heat rejection plant operational?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Heat-Rejection-Area-Clear" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is area around the heat rejection plant clear of obstructions &amp;amp; debris?

If "No" then provide information and description of obstructions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Chiller-Plant-Operational" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is chiller plant operational?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Chiller-Plant-Area-Clear" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is area around the Chiller Plant clear of obstructions &amp;amp; debris?

If "No" then provide information and description of obstructions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Air-Recirculation" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is there any possibility of air recirculation through the condenser?

If "Yes" then provide information and description of obstructions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Chiller-Plant-OK" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is general condition of chiller and associated central plant in good order?

If "No" then provide information and description of dilapidations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Heat-Exchanger-OK" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Are condenser heat exchangers undamaged/ un-corroded and clean?

If "No" then provide information and description of dilapidations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pipe-Insulation-OK" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is insulation on primary circulation pipe work well fitted and in good order?

If "No" then provide information and description of dilapidations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Chiller-Placement-OK" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is the chiller unit placed clear from warm air discharge louvers

If "No" then provide information and description of dilapidations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Compressors-Operational" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Locate compressors and ensure they are operational or can be brought into operation

If "No" then provide information and description of dilapidations.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AC-Questionnaire" type="AC-Questionnaire"/>
	<xs:complexType name="AC-Questionnaire">
		<xs:sequence>
			<xs:element name="AC-Present" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Does the building have an air conditioning system?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AC-Rated-Output" type="ACRatedOuput" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>What is the total effective rated output in kW if known</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AC-Estimated-Output" type="ACEstimatedOutput" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If exact rating unknown, what is the estimated total effective output rating of the air conditioning system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AC-Inspection-Commissioned" type="ACInspectionCommissioned" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Has an air conditioning inspection been commissioned?</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Air-Handling-System" type="SCCS-Air-Handling-System"/>
	<xs:complexType name="SCCS-Air-Handling-System">
		<xs:sequence>
			<xs:element name="System-Number" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier for each Air Handling System that was inspected</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="System-Identifier" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A meaningful label with which to identify the system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCCS-Air-Handling-System-Equipment" type="SCCS-Air-Handling-System-Equipment" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Air-Handling-System-Notes" type="SCCS-Air-Handling-System-Notes" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Air-Handling-System-Filters" type="SCCS-Air-Handling-System-Filters" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Air-Handling-System-Fan-Power" type="SCCS-Air-Handling-System-Fan-Power" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Air-Handling-System-Fan-Condition" type="SCCS-Air-Handling-System-Fan-Condition" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Air-Handling-System-Equipment" type="SCCS-Air-Handling-System-Equipment"/>
	<xs:complexType name="SCCS-Air-Handling-System-Equipment">
		<xs:sequence>
			<xs:element name="Systems-Served" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Systems Served from cooling plant</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Year-Installed" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Location" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify location of indoor and outdoor units if applicable. i.e. outdoor unit located on roof within louvered enclosure, indoor unit in conference room above ceiling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area-Served" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the area of the building that this particuolar Cooling System serves.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Discrepancy-Note" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note any discrepancy between information provided by client and on site information collected.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Air-Handling-System-Notes" type="SCCS-Air-Handling-System-Notes"/>
	<xs:complexType name="SCCS-Air-Handling-System-Notes">
		<xs:sequence>
			<xs:element name="Heat-Exchangers-OK" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Assess condition of heat exchangers. Note whether any heat exchanger surfaces are significantly damaged, or blocked by debris or dust.
Where reasonably practical, and where suitable information is available for comparison, the air path resistance across the coil should be measured and compared with the design resistance.

Are heat exchangers in good condition?

If "No" provide description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Refrigeration-Leak" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note whether refrigeration heat exchangers show signs of oily staining that could indicate refrigerant leakage. If present, check whether any attention to this is noted in the maintenance records.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fan-Control-Setting" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note the fan type, and method of air speed control.

Check the setting and operation of any fresh air/recirculation dampers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Energy-Conservation-Features" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identify whether the systems have any energy conservation facilities, e.g. heat recovery, free cooling sequence, and check for evidence that such facilities are/have been functioning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Air-Leakage" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Observe the air handling plant and visible air containment including ductwork, floor or ceiling plenums and builders' work shafts for signs of excessive leakage and energy loss.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Outdoor-Air-Inlets" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>(a) Locate the inlets for outdoor air.
(b) Note any significant obstructions or blockages to inlet grilles, screens and pre-filters.
(c) Note where inlets may be affected by proximity to local sources of heat, or to air exhausts.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Terminal-Unit" type="SCCS-Terminal-Unit"/>
	<xs:complexType name="SCCS-Terminal-Unit">
		<xs:sequence>
			<xs:element name="System-Number" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier for each Terminal Unit that was inspected</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="System-Identifier" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A meaningful label with which to identify the system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCCS-Terminal-Unit-Inspection" type="SCCS-Terminal-Unit-Inspection" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Terminal-Unit-Notes" type="SCCS-Terminal-Unit-Notes" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Terminal-Unit-Grilles" type="SCCS-Terminal-Unit-Grilles" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Terminal-Unit-Diffuser" type="SCCS-Terminal-Unit-Diffuser" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SCCS-Terminal-Unit-Condition" type="SCCS-Terminal-Unit-Condition" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-System-Control" type="SCCS-System-Control"/>
	<xs:complexType name="SCCS-System-Control">
		<xs:sequence>
			<xs:element name="System-Number" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="System-Identifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Zoning-Assessment" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Assess zoning in relation to factors such as local levels of internal gain, orientation and exposure to solar radiation. Is zoning appropriate?

If Flag = "No" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Current-Indicated-Time" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note the current indicated weekday and time of day on controllers against the actual time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Set-On-Period" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note the set on and off periods (for weekday and weekend if this facility is available with the timer).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timer-Shortfall" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is there a shortfall in timer capabilities?

If Flag = "No" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sensors-Appropriate" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identify and assess zone heating and cooling temperature control sensors.  Are the sensor types and locations appropriate in relation to heating and cooling emitters, heat flows or likely temperature distributions in the zone or space?

If Flag = "No" then Note must be populated else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Set-Temperature" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note the set temperature in each zone for heating and cooling in relation to the activities and occupancy of zones and spaces in relation to the manager's intent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dead-Band-Set" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note whether a 'dead band' is or can be set between heating and cooling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Equipment-Capacity" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Assess the refrigeration compressor(s) and the method of refrigeration capacity control.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Airflow-Modulation" type="Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Assess means of modulating or controlling air flow rate through air supply and exhaust ducts.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Terminal-Unit-Inspection" type="SCCS-Terminal-Unit-Inspection"/>
	<xs:complexType name="SCCS-Terminal-Unit-Inspection">
		<xs:sequence>
			<xs:element name="Systems-Served" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the systems that are served by this Terminal Unit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Year-Installed" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Location" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify location of indoor and outdoor units if applicable. i.e. outdoor unit located on roof within louvered enclosure, indoor unit in conference room above ceiling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area-Served" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the area of the building that this particuolar Cooling System serves.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Discrepancy-Note" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note any discrepancy between information provided by client and on site information collected.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Terminal-Unit-Notes" type="SCCS-Terminal-Unit-Notes"/>
	<xs:complexType name="SCCS-Terminal-Unit-Notes">
		<xs:sequence>
			<xs:element name="Pipe-Insulation-OK" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is pipe work adequately insulated? Visually inspect the route and condition of the cooling system pipe work serving local areas.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ductwork-Insulated-OK" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is ductwork adequately insulated? Check that pipe work is appropriately insulated.

If "No" the providedetail</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Cooling-Plant-Equipment" type="SCCS-Cooling-Plant-Equipment"/>
	<xs:complexType name="SCCS-Cooling-Plant-Equipment">
		<xs:sequence>
			<xs:element name="Manufacturer" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Description" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Model-Reference" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Serial-Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Year-Installed" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Cooling-Capacity" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Location" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify location of indoor and outdoor units if applicable. i.e. outdoor unit located on roof within louvered enclosure, indoor unit in conference room above ceiling.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area-Served" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the area of the building that this particuolar Cooling System serves.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Discrepancy-Note" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Refrigerant-Type" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Pre-Inspection-Essential" type="SCCS-Pre-Inspection-Essential"/>
	<xs:complexType name="SCCS-Pre-Inspection-Essential">
		<xs:sequence>
			<xs:element name="List-Of-Systems" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Itemised list of installed packaged cooling systems including product makes, models and identification numbers together with cooling capacities and locations of the equipment.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cooling-Capacities" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cooling capacities, with locations of the indoor and outdoor components of each plant.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Control-Zones" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of system control zones, with schematic drawings.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Temperature-Controls" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of method of control of temperature.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Operation-Controls" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of method of control of periods of operation.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Schematics" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Floor plans and schematics of air conditioning systems.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Pre-Inspection-Desirable" type="SCCS-Pre-Inspection-Desirable"/>
	<xs:complexType name="SCCS-Pre-Inspection-Desirable">
		<xs:sequence>
			<xs:element name="Previous-Reports" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reports from earlier inspections of air conditioning systems, and for the generation of an energy performance certificate.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Refrigeration-Maintenance" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Records of maintenance operations carried out on refrigeration systems, including cleaning indoor and outdoor heat exchangers, refrigerant leakage tests, repairs to refrigeration components or replenishing with refrigerant.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Delivery-System-Maintenance" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Records of maintenance operations carried out on air delivery systems, including filter cleaning and changing, and cleaning of heat exchangers.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Control-System-Maintenance" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Records of calibration and maintenance operations carried out on control systems and sensors, or BMS systems and sensors.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consumption-Records" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Records of sub-metered air conditioning plant use or energy consumption.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commissioning-Results" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For relevant air supply and extract systems, commissioning results of measured absorbed power at normal air delivery and extract rates, and commissioning results for normal delivered delivery and extract air flow rates (or independently calculated specific fan power for the systems).

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Pre-Inspection-Optional" type="SCCS-Pre-Inspection-Optional"/>
	<xs:complexType name="SCCS-Pre-Inspection-Optional">
		<xs:sequence>
			<xs:element name="Cooling-Load-Estimate" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An estimate of the design cooling load for each system (if available). Otherwise, a brief description of the occupation of the cooled spaces, and of power consuming equipment normally used in those spaces.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Complaint-Records" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Records of any issues or complaints that have been raised concerning the indoor comfort conditions achieved in the treated spaces.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BMS-Capability" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Where a BMS is used the manager should arrange for a short statement to be provided describing its capabilities, the plant it is connected to control, the set points for the control of temperature, the frequency with which it is maintained, and the date of the last inspection and maintenance.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Monitoring-Capability" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Where a monitoring station, or remote monitoring facility, is used to continually observe the performance of equipment such as chillers, the manager should arrange for a statement to be provided describing the parameters monitored, and a statement reviewing the operating efficiency of the equipment.

"No" indicates the data is not available, 'Yes" indicates that it was reviewed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Cooling-Plant-Sizing" type="SCCS-Cooling-Plant-Sizing"/>
	<xs:complexType name="SCCS-Cooling-Plant-Sizing">
		<xs:sequence>
			<xs:element name="Total-Occupants" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Total-Floor-Area" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The total floor area in square metres</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Occupant-Density" type="xs:float" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The average number of oiccuipants per square metre. Calculated as [Total-Floor-Area] / Total-Occupants]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lower-Heat-Gain" type="xs:float" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Upper-Heat-Gain" type="xs:float" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Installed-Capacity" type="xs:float" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Acceptable-Installed-Size" type="AcceptableRangeCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whjether the size of the Cooling Plant is accptable size for the property. "Yes" indicates "acceptable" and "No" indicates "Unacceptable".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Cooling-Plant-Metering" type="SCCS-Cooling-Plant-Metering"/>
	<xs:complexType name="SCCS-Cooling-Plant-Metering">
		<xs:sequence>
			<xs:element name="Metering-Installed" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is metering installed to enable monitoring of energy consumption of refrigeration plant?

If Flag = "Yes" then Note conatins Meter Reading else Note is empty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BEM-Installed" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is a BEMs installed in the building which can warn about out of range alarms?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Cooling-Plant-Refrigeration" type="SCCS-Cooling-Plant-Refrigeration"/>
	<xs:complexType name="SCCS-Cooling-Plant-Refrigeration">
		<xs:sequence>
			<xs:element name="Refrigerant-Name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identify the refrigerant used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="F-Gas-Inspection" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicate where an F-Gas Regulations inspection may be required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pre-Compressor" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Post-Processor" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Ambient" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Acceptable-Temperature" type="AcceptableRangeCode" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Refrigerant-Leak" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note whether refrigeration heat exchangers show signs of oily staining that could indicate refrigerant leakage. If present, check whether any attention to this is noted in the maintenance records.

If "Yes" provide comment regarding the incident and how it has been rectified</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Cooling-Plant-Chillers" type="SCCS-Cooling-Plant-Chillers"/>
	<xs:complexType name="SCCS-Cooling-Plant-Chillers">
		<xs:annotation>
			<xs:documentation>If the refrigeration equipment includes water cooled chillers check that adequate water flows are available through the cooling towers or evaporative condensers to achieve efficient heat transfer. Also check that the water pressure drops across them are in accordance with design or commissioning data if gauges or test points are available and accessible.

Check to ensure that the water is treated and regularly checked to ensure that there is no Legionella risk.  See HSE L8
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Water-Cooled" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Condenser-Flow-Reading" type="xs:float" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Commissioning-Flow-Reading" type="xs:float" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Water-Treatment" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Cooling-Plant-Maintenance" type="SCCS-Cooling-Plant-Maintenance"/>
	<xs:complexType name="SCCS-Cooling-Plant-Maintenance">
		<xs:annotation>
			<xs:documentation>Record whether there is evidence of a regular inspection and maintenance regime carried out by suitably competent people. Record and comment on the frequencies and scope of maintenance to the air conditioning equipment and systems in relation to industry guidelines. This, and the dates of most recent maintenance may also need to be referred to during the physical inspection.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Records-Kept" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Are there records of regular maintenance?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Competent-Person" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is the maintenance undertaken by suitably competent people?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Maintenance-Frequency-Note" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provide comment regarding maintenance frequencies in relation to industry guidelines.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Cooling-Plant-Humidity-Control" type="SCCS-Cooling-Plant-Humidity-Control"/>
	<xs:complexType name="SCCS-Cooling-Plant-Humidity-Control">
		<xs:sequence>
			<xs:element name="Humidity-Control" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is there separate equipment installed for humidity control?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Terminal-Unit-Condition" type="SCCS-Terminal-Unit-Condition"/>
	<xs:complexType name="SCCS-Terminal-Unit-Condition">
		<xs:sequence>
			<xs:element name="Unit-Condition-OK" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Are the terminal units in good working order? Visually check the condition and operation of indoor units.

If "No" then provide detail</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Terminal-Unit-Grilles" type="SCCS-Terminal-Unit-Grilles"/>
	<xs:complexType name="SCCS-Terminal-Unit-Grilles">
		<xs:sequence>
			<xs:element name="Air-Flow-OK" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Are diffusers /grilles clean and in good order? Review air delivery openings, grilles or diffusers, and route by which air is extracted from the spaces. Note whether these appear to provide good distribution

If "No" provide comment regarding condition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Air-Flow-Distribution-OK" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Note whether Grills and Air Flow Delivery openings appear to provide good distribution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Water-Supply-OK" type="YN_Flag" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Air-Flow-Issues" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Issues arising from facilities managers records. Review evidence that occupants find the air delivery arrangements unacceptable  for example check the complaints log (if it is available)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Terminal-Unit-Diffuser" type="SCCS-Terminal-Unit-Diffuser"/>
	<xs:complexType name="SCCS-Terminal-Unit-Diffuser">
		<xs:sequence>
			<xs:element name="Diffuser-Positions-OK" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Are the diffusers and grilles clean and in good order? Assess the positioning and geometry of air supply openings in relation to extract openings. Observe if partitioning or furniture is affecting performance.

If "No" then provide comment regarding condition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Partitioning-OK" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Observe if partitioning or furniture is affecting performance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Air-Handling-System-Filters" type="SCCS-Air-Handling-System-Filters"/>
	<xs:complexType name="SCCS-Air-Handling-System-Filters">
		<xs:sequence>
			<xs:element name="Filter-Condition-OK" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Check condition of intake air filters and check air inlets and outlets for obstruction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Filter-Change-Frequency-OK" type="Flag_With_Note" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is the elapsed time since the last change or clean, in relation to industry guidance, acceptable?.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Air-Handling-System-Fan-Power" type="SCCS-Air-Handling-System-Fan-Power"/>
	<xs:complexType name="SCCS-Air-Handling-System-Fan-Power">
		<xs:sequence>
			<xs:element name="Fan-Power-Estimate" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estimate the specific fan power (SFP) of air movement systems, provided that this can be done simply from existing records of the installed fan capacities and the flow rates and pressure drops noted in commissioning records, for comparison with the guidance

Use the guidance in TM44 section 4.4 tables 4.1 Indicative ventilation rates for various types of buildings (Source BSRIA BG14/2003(20) &amp;amp; 4.2 yardstick installed fan capacities (source BSRIA AG1/2000(21))</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fan-Power-OK" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Are air flow rates and system pressures available from commissioning data?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SFP-Calculation" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SCCS-Air-Handling-System-Fan-Condition" type="SCCS-Air-Handling-System-Fan-Condition"/>
	<xs:complexType name="SCCS-Air-Handling-System-Fan-Condition">
		<xs:sequence>
			<xs:element name="Fan-Rotation-OK" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Check for correct rotation of fans.  Does the fan rotate in the correct sense?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fan-Modulation-OK" type="YN_Flag" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is speed control or modulation operation?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Guidance" type="ACI-Recommendations-List" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Equipment-Owner" type="Equipment-Owner"/>
	<xs:complexType name="Equipment-Owner">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Equipment-Owner-Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Telephone-Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Organisation-Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Registered-Address" type="AddressType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Registered Address of the organisation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ContentTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Single Centralised System</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Packaged Cooling System</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Combined Report</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
