api/schemas/xml/SAP-Schema-10.2/Templates/EPC-Certificate.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns="DCLG-HIP" xmlns:HIP="DCLG-HIP" xmlns:pfdt="DCLG-HIP/BaseDataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="DCLG-HIP" version="LIG-10.2">

<!--
	© Department of Communities and Local Government. © Crown copyright, 2007. The Home Condition Report logo and associated wording is a registered trade mark - any unlicensed use is not permitted. Copyright in the typographical arrangement of this document rests with the Crown. This publication, excluding logos, may be reproduced free of charge in any format or medium for research, private study, for internal circulation within an organisation or by registered scheme users. This is subject to it being reproduced accurately and not used in a misleading context. 

-->
	<xs:import namespace="DCLG-HIP/BaseDataTypes" schemaLocation="../UDT/BaseDataTypes.xsd"/>
	<xs:include schemaLocation="../UDT/EPC-Domains.xsd"/>
	<xs:simpleType name="EnergyRatingType">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="100"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Energy-Assessment" type="Energy-Assessment"/>
	<xs:complexType name="Energy-Assessment">
		<xs:annotation>
			<xs:documentation>Energy Efficiency Assessment Report is an inspection report whose purpose is to assess the energy efficiency of the inspected property and provide energy ratings for the significant heat-loss features of the property. 

The report also identifies a number of potential improvements that may be made to the property in order to increase the energy efficiency.
</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Property-Summary" type="Property-Summary"/>
			<xs:element name="Energy-Use" type="Energy-Use"/>
			<xs:element name="Suggested-Improvements" type="Suggested-Improvements" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="Property-Summary" type="Property-Summary"/>
	<xs:complexType name="Property-Summary">
		<xs:sequence>
			<xs:element name="Wall" type="PropertySummaryType" maxOccurs="3"/>
			<xs:element name="Roof" type="PropertySummaryType" maxOccurs="3"/>
			<xs:element name="Floor" type="PropertySummaryType" maxOccurs="3"/>
			<xs:element name="Window" type="PropertySummaryType"/>
			<xs:element name="Main-Heating" type="PropertySummaryType"/>
			<xs:element name="Main-Heating-Controls" type="PropertySummaryType"/>
			<xs:element name="Hot-Water" type="PropertySummaryType"/>
			<xs:element name="Lighting" type="PropertySummaryType"/>
			<xs:element name="Secondary-Heating" type="PropertySummaryType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Energy-Use" type="Energy-Use"/>
	<xs:complexType name="Energy-Use">
		<xs:annotation>
			<xs:documentation>Part of an Energy Report summarising the results of the various energy calculations made by the Home Inspector.</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="Energy-Rating-Current" type="EnergyRatingType">
				<xs:annotation>
					<xs:documentation>The Current Energy Rating of the Property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Energy-Rating-Potential" type="EnergyRatingType">
				<xs:annotation>
					<xs:documentation>The overall Energy Rating for the Property being assessed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Environmental-Impact-Current" type="EnergyRatingType">
				<xs:annotation>
					<xs:documentation>The estimated current Environmental Impact Rating of the property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Environmental-Impact-Potential" type="EnergyRatingType">
				<xs:annotation>
					<xs:documentation>The estimated potential Environmental Impact Rating of the property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Energy-Consumption-Current" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>Estimated total energy consumption for the Property in a 12 month period. Value is Kilowatt Hours per Square Metre (kWh/m2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Energy-Consumption-Potential" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>Estimated total energy consumption for the Property in a 12 month period. Value is Kilowatt Hours per Square Metre (kWh/m2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CO2-Emissions-Current" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>Estimated value in Tonnes per Year of the total CO2 emissions produced by the Property in 12 month period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CO2-Emissions-Potential" type="pfdt:Measurement">
				<xs:annotation>
					<xs:documentation>Estimated value in Tonnes per Year of the total CO2 emissions produced by the Property in 12 month period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lighting-Cost-Current" type="pfdt:Money">
				<xs:annotation>
					<xs:documentation>The current estimated cost of Lighting for the property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lighting-Cost-Potential" type="pfdt:Money">
				<xs:annotation>
					<xs:documentation>The current estimated cost of Lighting for the property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Heating-Cost-Current" type="pfdt:Money">
				<xs:annotation>
					<xs:documentation>The current estimated cost of Heating for the property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Heating-Cost-Potential" type="pfdt:Money">
				<xs:annotation>
					<xs:documentation>The current estimated cost of Heating for the property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hot-Water-Cost-Current" type="pfdt:Money">
				<xs:annotation>
					<xs:documentation>|The current estimated cost of Hot Water for the property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hot-Water-Cost-Potential" type="pfdt:Money">
				<xs:annotation>
					<xs:documentation>|The current estimated cost of Hot Water for the property</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="Suggested-Improvements" type="Suggested-Improvements"/>
	<xs:complexType name="Suggested-Improvements">
		<xs:annotation>
			<xs:documentation>Part of an Energy Report that describes the a set of improvements that the Home Inspector considers would contribute to the overall energy rating of the property.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Improvement" type="Improvement" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Improvement" type="Improvement"/>
	<xs:complexType name="Improvement">
		<xs:all>
			<xs:element name="Improvement-Category" type="RecommendationCategoryCode">
				<xs:annotation>
					<xs:documentation>The categfory of improvement. This identifies where on the report the recommendation is printed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sequence" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Sequence of the Suggested Improvements within the set of Suggested Improvements. This is used to order the Recommendations on the output HCR / EPC so that the cumulative Ratings make sense.

The Improved Energy Ratings that result from carrying out a Suggested Improvement are cumulative and assume that the improvements have been installed in the order they appear in the list. Hence they must be sequenced.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Improvement" type="pfdt:Sentence">
				<xs:annotation>
					<xs:documentation>Suggested work to be carried out on the Property to improve its energy efficiency. This should be a enumerated list of acceptable improvements but it hasn't yet been defined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Typical-Saving" type="pfdt:Money">
				<xs:annotation>
					<xs:documentation>Typical savings (in British Pounds) per year if the suggested improvement is carried out.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Energy-Performance-Rating" type="EnergyRatingType">
				<xs:annotation>
					<xs:documentation>The estimated Energy performance rating of the Property after the Suggested Improvement has been carried out providing any preceding Suggested Improvement has also been carried out.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Environmental-Impact-Rating" type="EnergyRatingType">
				<xs:annotation>
					<xs:documentation>The estimated Environmental Impact rating of the Property after the Suggested Improvement has been carried out providing any preceding Suggested Improvement has also been carried out.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Improvement-Description" type="pfdt:Sentence"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="PropertySummaryType" type="PropertySummaryType"/>
	<xs:complexType name="PropertySummaryType">
		<xs:all>
			<xs:element name="Description" type="pfdt:Sentence">
				<xs:annotation>
					<xs:documentation>Overall description of the property feature</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Energy-Efficiency-Rating" type="EnergyEfficiencySummaryCode">
				<xs:annotation>
					<xs:documentation>Overall summary of the energy effiocuemcy of the property feature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Environmental-Efficiency-Rating" type="EnergyEfficiencySummaryCode">
				<xs:annotation>
					<xs:documentation>Summary of the environmental efficiency of the property feature</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
