api/schemas/xml/NI-CEPC-7.1/webgen/rrngen.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <xs:element name="RrnData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rrn" type="xs:string"/>
        <xs:element name="uprn" type="xs:string"/>
        <xs:element name="date" type="xs:string"/>
        <xs:element name="reportType" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RrnError">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>

