api/schemas/xml/CS63-S-7.0/ActionPlan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.est.org.uk/s63/estcrV1/DCLG-CS63" xmlns:CS63="http://www.est.org.uk/s63/estcrV1/DCLG-CS63" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.est.org.uk/s63/estcrV1/DCLG-CS63" elementFormDefault="qualified" version="LIG-CS63-7.0">
  <xs:annotation>
    <xs:documentation>
      The purpose of Base Data Type declarations is to provide a point of declaration of all the primitive  datatypes that are in use within the domain and can be used to describe the contents of the Business Information Model.

      A significant problem with the XML Schema Definition standard is that it is designed to solve a large number of software implementation problems and so provides an equally large number of datatypes with each datatype describing a variation on a theme.

      For example as well as "number" we also have "short" (with a range of values corresponding to that which may be stored a 16 bit computer word), "long", "int", "integer", "decimal", "double", "byte" and quite a few other number variations. However many of these datatypes are highly-specialized computer-focused definitions that have little or no relevance to the Business stakeholders.

      Most likely the business stakeholders would only recognise a limited number of datatypes - such as String, Date, Time, Integer, Decimal - and some domain-specific ones - such as Money (amount + currency attribute) - and will prefer the model to be restricted to that small set.

      The advantages of defining a set of base data types and gathering them together in a single file are:
      *	It allows documented controls to be placed on the primitive types that are used in any schema.
      *	It will improve consistency of use of primitive types (e.g. consistent use of "integer" rather than "int", "long" etc.) that must be handled by applications
      *	It will improve code reuse.
      *	It allows standard attributes to be added to all elements whilst hiding the detail in a non business definition layer.

      The principle is something like the way datayping is implemented in Java (as well as other programming languages) where every primitive datatype, such as "string", is wrapped by an equivalent complex class such as "String".The Java developer could declare object attributes using the "string" primitive but this isn't regarded as good practice. By using the "pfdt:string" class instead they are protected from physical changes to the implementation of "string" and also gain an extension point where additional behaviour not supported by the primitive datatype can be defined.

      The declarations in this file underpin the User Defined Types, Message Infrastructure and Business Entity Template declarations.
    </xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Percentage">
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="100"/>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Money" type="Money"/>
  <xs:complexType name="Money">
    <xs:annotation>
      <xs:documentation>
        Extension of a Decimal value for use with monetary values where a currency code needs to
        be specified.

        The currency code is actually metadata about the value so, in line with good XML practice, the Currency Code is declared as an XML-Attribute of the Money datatype rather than as a separate XML-Element.

        The currency attribute should then include a list of valid currencies codes that are supported.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="Count">
    <xs:annotation>
      <xs:documentation>A count of the number of occurrences of something - must therefore be &gt;=0. This is the functional equivalent of the XML nonNegativeInteger datatype.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:element name="Classifier" type="Classifier"/>
  <xs:complexType name="Classifier">
    <xs:annotation>
      <xs:documentation>
        A Classifier is an extended datatype used as the basis for a data-item whose allowed values are restricted to a pre-defined set of Classifiers or Enumerated Codes.

        Classifier should never actually be used as the datatype for any data-item in a finished data model because a specific Enumerated Domain should be declared for defining the specific values in the domain. However it is acceptable in an incomplete model where definition of the domain has yet to be completed.
      </xs:documentation>
    </xs:annotation>
    <xs:all/>
    <xs:attribute name="pid" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:element name="Reference" type="Reference"/>
  <xs:complexType name="Reference">
    <xs:annotation>
      <xs:documentation>
        The Reference Data Type is any association between two Business Entities (or their sub-
        components). In order to be consistent across the entire dataset all references contain the ID of the thing being referenced and the value actually assigned to the element is the 'display value'. The type of reference is derived from the underlying data model

        This has a shortcoming in that we can't support multi-value keys using this datatype. However
        I'm reluctant to extend the datatype to include the ID as a nested element because it becomes very cumbersome to use. Instead, in all likelihood, the Primary Key to any entity in a data processing application is likely to be a single-value, system-generated key so we're imposing that restriction here as well.
      </xs:documentation>
    </xs:annotation>
    <xs:all/>
  </xs:complexType>
  <xs:simpleType name="Measurement">
    <xs:annotation>
      <xs:documentation>A measurement of something such as a length or area. All measurements are to 2 decimal places and must be positive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:element name="IDString" type="IDString"/>
  <xs:complexType name="IDString">
    <xs:annotation>
      <xs:documentation>
        A string containing a unique identifier for something.

        The underlying assumption is that each instance of a class or entity will have a unique identifier assigned to it which can then be assigned to any referencing entity as a reference to the entity instance.

        This is a very similar concept to XML ID datatype but is locally defined because of the need to extend the datatype with domain specific attributes.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="NumericString">
    <xs:annotation>
      <xs:documentation>A Numeric String is a string based datatype for representing strings, such as telephone numbers and IP addresses, that are limited to the numeric character-set.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9\-\.\+]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Flag">
    <xs:annotation>
      <xs:documentation>The Boolean datatype is a redefinition of the XML Schema defined "Boolean". The XSD version is a logical True / False datatype whereas from a data processing perspective it is more likely to be a string based Y/N value. This could be seen as an Enumerated Domain but "Boolean" is so common that it makes more sense to be a base datatype.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:documentation>No</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LanguageCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>English</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Welsh</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Sentence" type="Sentence"/>
  <xs:complexType name="Sentence">
    <xs:annotation>
      <xs:documentation>String value with a language code for natural-language text.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="language" type="LanguageCode" use="optional">
          <xs:annotation>
            <xs:documentation>Identifies the language that the sentence is recorded in.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ExtendedBoolean">
    <xs:annotation>
      <xs:documentation>An extended boolean type that also allows 'unknown' as a value.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="false"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YN_Flag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RRNType">
    <xs:annotation>
      <xs:documentation>
        The Report Reference Number is a 20-digit unique identifier assigned to each Report.

        It is formatted as five blocks of four digits i.e. 9999-9999-9999-9999-9999 and generated by an algorithm described in Appendix A "Report ID Generation" of Section 18 "Transformation Rules" of the Technical Standards.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ForeignKey" type="ForeignKey"/>
  <xs:complexType name="ForeignKey">
    <xs:sequence/>
    <xs:attribute name="EntityName" type="xs:string" use="required"/>
    <xs:attribute name="KeyName" type="xs:string" use="optional"/>
    <xs:attribute name="DomainName" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:element name="Property" type="Property"/>
  <xs:complexType name="Property">
    <xs:all>
      <xs:element name="Address" type="AddressType"/>
      <xs:element name="UPRN" type="UPRNType">
        <xs:annotation>
          <xs:documentation>Unique Property Reference Number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:annotation>
      <xs:documentation>An address is composed of a number of structured elements such as Postcode, Post-Town, Street etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Address-Line-1" type="xs:string" minOccurs="0"/>
      <xs:element name="Address-Line-2" type="xs:string" minOccurs="0"/>
      <xs:element name="Address-Line-3" type="xs:string" minOccurs="0"/>
      <xs:element name="Address-Line-4" type="xs:string" minOccurs="0"/>
      <xs:element name="Post-Town" type="xs:string" minOccurs="0"/>
      <xs:element name="Postcode" type="PostcodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The Postcode for the Address.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UPRNType">
    <xs:annotation>
      <xs:documentation>Unique Property Reference Number - a 10-digit numeric string unmiquely identifuying each Property that may have a HCR registered against it.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PostcodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{1,2}[0-9R][0-9A-Z]? [0-9][A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Energy-Assessor" type="Energy-Assessor"/>
  <xs:complexType name="Energy-Assessor">
    <xs:annotation>
      <xs:documentation>An Energy-Assessor is an Approved Organisation Member qualified to carry out a Section 63 assessment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Membership-Number" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The unique identifier assigned to the Energy Assessor by the Approved Organisation by which they can be identified throughout their membership of the scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name by which the Energy Assessor is registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Approved-Organisation-Name" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the Approved Organisation that certified the Energy Assessor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Approved-Organisation-Web-Address" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The web address of the Approved Organisation that certified the Energy Assessor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Trading-Address" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The address that any written correspondence can be sent to. This is not the same as the Registered Address because it may, of course, be a Post Office Box.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Company-Name" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The Name of the Company that the Energy Assessor is empolyed by.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="EAStatusCode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The Status of the Energy Assessor - at the time of producing and lodging a report this should be "Registered" but any of the values can be present on the EA Register itself.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="E-Mail" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Optional e-mail address for the Energy Assessor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Telephone-Number" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EAStatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inactive">
        <xs:annotation>
          <xs:documentation>Inactive</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Registered">
        <xs:annotation>
          <xs:documentation>Registered</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Struck-Off">
        <xs:annotation>
          <xs:documentation>Struck Off</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Suspended">
        <xs:annotation>
          <xs:documentation>Suspended</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressType" type="AddressType"/>
  <xs:element name="Report-Header" type="Report-Header"/>
  <xs:complexType name="Report-Header">
    <xs:annotation>
      <xs:documentation>Report Header contains all the identification and searchable details for the Report.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RRN" type="RRNType">
        <xs:annotation>
          <xs:documentation>
            Report Reference Number is the unique report Identifier that the report will be publicly known by.

            The RRN is allocated to the Report at the point that it is registered and will be algorithmically derived from the natural key characteristics of the Section 63 Action Plan Report i.e. The Unique Property Reference Number (UPRN) and Inspection (Assessment) Date.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EPC-RRN" type="RRNType">
        <xs:annotation>
          <xs:documentation>Report Reference Number of EPC generated for the building for which the Section 63 Action Plan has been created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sale-Lease-Date" type="xs:date"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The sale or lease date of which the building.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Assessment-Date" type="xs:date"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date on which the building was inspected and assessed for Section 63.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Plan-Report-Date" type="xs:date">
        <xs:annotation>
          <xs:documentation>The date on which the Section 63 Action Plan Report was generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Report-Type" type="ReportTypeCode">
        <xs:annotation>
          <xs:documentation>The type of Report generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="ReportStatusCode">
        <xs:annotation>
          <xs:documentation>The Status of the Report.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Report-Commission" type="Report-Commission">
        <xs:annotation>
          <xs:documentation>A Section 63 Action Plan Report can be commissioned by either the building owner or a tenant or other person provided they have been delegated by the building owner to commission the report.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Property-Type" type="Building-Type">
        <xs:annotation>
          <xs:documentation>Describes the type of Property to which this report refers.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Energy-Assessor" type="Energy-Assessor"/>
      <xs:element name="Property" type="Property"/>
      <xs:element name="Calculation-Details">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Methodology" type="xs:string"/>
            <xs:element name="Calculation-Tool" type="xs:string"/>
            <xs:element name="Output-Engine" type="xs:string"/>
            <xs:element name="Inspection-Type" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReportTypeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="9">
        <xs:annotation>
          <xs:documentation>Section 63 Action Plan</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReportStatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cancelled">
        <xs:annotation>
          <xs:documentation>Cancelled</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="entered">
        <xs:annotation>
          <xs:documentation>entered on the register</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="appeal">
        <xs:annotation>
          <xs:documentation>under appeal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="removed">
        <xs:annotation>
          <xs:documentation>removed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rejected">
        <xs:annotation>
          <xs:documentation>rejected</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="under investigation">
        <xs:annotation>
          <xs:documentation>under investigation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="not for issue">
        <xs:annotation>
          <xs:documentation>not for issue</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Building-Type">
    <xs:sequence>
      <xs:element name="Short-Description" type="xs:string"></xs:element>
      <xs:element name="Long-Description" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Report-Commission">
    <xs:all>
      <xs:element name="Owner-Commission-Report" type="Flag" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether the Section 63 Action Plan was commissioned by the owner of the building.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Owner-Name" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the building owner. This is a structured name containing prefix, first name + surname.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Delegated-Person-Commission-Report" type="Flag" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether the Section 63 Action Plan was commissioned by a tenant or delegated person on behalf of the owner of the building.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tenant-Delegated-Person-Name" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the tenant or delegated person. This is a structured name containing prefix, first name + surname.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Delegated-Protocol-Set-Up" type="Flag" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether a delegated protocol has been set up.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Delegated-Protocol-Date" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date on which the delegated protocol was set up was generated.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Improvement-Type">
    <xs:all>
      <xs:element name="Building-Improvements" type="Flag" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether the improvement route selected is by implementing the building improvement measures.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Operational-Rating" type="Flag" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether the improvement route selected is by displaying the operational rating.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="Measure-Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Prescriptive">
        <xs:annotation>
          <xs:documentation>A prescriptive measure</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Alternative">
        <xs:annotation>
          <xs:documentation>An alternative measure input by the user</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Measure">
    <xs:annotation>
      <xs:documentation>Description of measure.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Measure-Description-Short" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A short description for the improvement measure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Measure-Description-Long" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A long description for the (alternative) improvement measure as input by the user.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Measure-Valid" type="Flag" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Whether the (prescriptive) measure is valid or applicable for the building.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Measure-Type" type="Measure-Type" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Type of measure included in the alternative scenario: either prescriptive or alternative added by the user.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Target-Savings">
    <xs:annotation>
      <xs:documentation>Target savings set by the prescriptive scenario of measures that are valid to the building.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Target-Emission-Savings" type="xs:float" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Target savings of emissions in kg of CO2 per m2 per year.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Target-Energy-Savings" type="xs:float" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Target savings of energy consumption in kWh per m2 per year.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Prescriptive-Improvements">
    <xs:sequence>
      <xs:element name="Prescriptive-Scenario" type="Measure" minOccurs="7" maxOccurs="7"/>
      <xs:element name="Target-Savings" type="Target-Savings" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Accept-Prescriptive-Improvements" type="Flag" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Whether the prescriptive measures have been accepted for implementation as a single package.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Total-Savings">
    <xs:annotation>
      <xs:documentation>Total savings achieved by the alternative scenario of measures.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Total-Emission-Savings" type="xs:float" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Total savings of emissions in kg of CO2 per m2 per year.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Total-Energy-Savings" type="xs:float" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Total savings of energy consumption in kWh per m2 per year.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Alternative-Improvements">
    <xs:sequence>
      <xs:element name="Alternative-Scenario" type="Measure" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Total-Savings" type="Total-Savings" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Operational-Rating-System">
    <xs:annotation>
      <xs:documentation>Applicable if the improvement route selected is by displaying the operational rating.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Display-Energy-Certificate" type="Flag" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether a Display Energy Certificate is lodged in the Register and displayed in the building.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Improvements-Completion">
    <xs:all>
      <xs:element name="Planned-Completion-Date" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date on which the implementation of the improvement measures is planned to have been completed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Actual-Completion-Date" type="xs:date" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date on which the implementation of the improvement measures has actually been completed.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:element name="Report-Data" type="Report-Data"/>
  <xs:complexType name="Report-Data" abstract="true">
    <xs:all/>
  </xs:complexType>
  <xs:element name="Action-Plan-Report" type="Action-Plan-Report"/>
  <xs:complexType name="Action-Plan-Report">
    <xs:annotation>
      <xs:documentation>Section 63 Action Plan Report.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TER-2002" type="xs:float" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Target Emission Rate defined by Section 6 of the 2002 building regulations, in kg of CO2 per m2 per year.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Compliant-2002" type="Flag" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether the actual building complies with the Target Emission Rate defined by Section 6 of the 2002 building regulations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Improvement-Type" type="Improvement-Type" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Improvement route selected for the building.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Prescriptive-Improvements" type="Prescriptive-Improvements" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Alternative-Improvements" type="Alternative-Improvements" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Operational-Rating-System" type="Operational-Rating-System" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Improvements-Completion" type="Improvements-Completion" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Summary-Of-Performance" type="Summary-Of-Performance"/>
  <xs:complexType name="Summary-Of-Performance">
    <xs:sequence>
      <xs:element name="Building-Data" type="Building-Data" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Building-Data" type="Building-Data"/>
  <xs:complexType name="Building-Data">
    <xs:annotation>
      <xs:documentation>
        For a Section 63 Action Plan created using S63Gen, Building-Data is can be either two (for an Action Plan with the prescriptive scenario selected) or three (for an Action Plan with an altenative scenario selected), which are:- Actual Building (as-is), Building with prescriptive senario, and Building with alternative senario.
        The type of Building Data is indicated by the Analysis-Type field.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Analysis-Type" type="AnalysisTypeCode"/>
      <xs:element name="Area" type="xs:float"/>
      <xs:element name="Area-Exterior" type="xs:float"/>
      <xs:element name="Q50-Infiltration" type="xs:float"/>
      <xs:element name="Weather" type="xs:string"/>
      <xs:element name="Building-W-K" type="xs:float"/>
      <xs:element name="Building-W-M2K" type="xs:float"/>
      <xs:element name="Building-Alpha" type="xs:float"/>
      <xs:element name="HVAC-Systems" type="HVAC-Systems"/>
      <xs:element name="Global-Performance" type="Global-Performance"/>
      <xs:element name="Activities" type="Activities"/>
      <xs:element name="Primary-Energry-Indicator">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Approximate-Energry-Use">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:element name="Activity" type="Activity"/>
  <xs:complexType name="Activity">
    <xs:all>
      <xs:element name="ID" type="xs:long"/>
      <xs:element name="Area" type="xs:float"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="Activities" type="Activities"/>
  <xs:complexType name="Activities">
    <xs:sequence>
      <xs:element name="Activity" type="Activity" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HVAC-System-Data" type="HVAC-System-Data"/>
  <xs:complexType name="HVAC-System-Data">
    <xs:all>
      <xs:element name="Area" type="xs:float"/>
      <xs:element name="Heat-Source" type="xs:string"/>
      <xs:element name="Type" type="xs:string"/>
      <xs:element name="Fuel-Type" type="xs:string"/>
      <xs:element name="Cooling-Gen-SEER" type="xs:float"/>
      <xs:element name="Cooling-SSEER" type="xs:float"/>
      <xs:element name="Heating-Gen-SEFF" type="xs:float"/>
      <xs:element name="Heating-SSEFF" type="xs:float"/>
      <xs:element name="KWH-M2-Auxiliary" type="xs:float"/>
      <xs:element name="KWH-M2-Cooling" type="xs:float"/>
      <xs:element name="KWH-M2-Heating" type="xs:float"/>
      <xs:element name="MJ-M2-Heating-Dem" type="xs:float"/>
      <xs:element name="MJ-M2-Cooling-Dem" type="xs:float"/>
      <xs:element name="Activities" type="Activities"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="Global-Performance" type="Global-Performance"/>
  <xs:complexType name="Global-Performance">
    <xs:all>
      <xs:element name="KWH-M2-Cooling" type="xs:float"/>
      <xs:element name="KWH-M2-Heating" type="xs:float"/>
      <xs:element name="KWH-M2-Auxiliary" type="xs:float"/>
      <xs:element name="KWH-M2-Lighting" type="xs:float"/>
      <xs:element name="KWH-M2-DHW" type="xs:float"/>
      <xs:element name="KWH-M2-Equipment" type="xs:float"/>
      <xs:element name="KWH-M2-Natural-Gas" type="xs:float"/>
      <xs:element name="KWH-M2-Biogas" type="xs:float"/>
      <xs:element name="KWH-M2-LPG" type="xs:float"/>
      <xs:element name="KWH-M2-Coal" type="xs:float"/>
      <xs:element name="KWH-M2-Oil" type="xs:float"/>
      <xs:element name="KWH-M2-Anthracite" type="xs:float"/>
      <xs:element name="KWH-M2-Smokeless" type="xs:float"/>
      <xs:element name="KWH-M2-Biomass" type="xs:float"/>
      <xs:element name="KWH-M2-Dual-Fuel" type="xs:float"/>
      <xs:element name="KWH-M2-Supplied" type="xs:float"/>
      <xs:element name="KWH-M2-Waste-Heat" type="xs:float"/>
      <xs:element name="KWH-M2-Displaced" type="xs:float"/>
      <xs:element name="KWH-M2-PVS" type="xs:float"/>
      <xs:element name="KWH-M2-CHP" type="xs:float"/>
      <xs:element name="KWH-M2-SES" type="xs:float"/>
      <xs:element name="KWH-M2-Wind" type="xs:float"/>
      <xs:element name="KWH-M2-District-Heating" type="xs:float"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="HVAC-Systems" type="HVAC-Systems"/>
  <xs:complexType name="HVAC-Systems">
    <xs:sequence>
      <xs:element name="HVAC-System-Data" type="HVAC-System-Data" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AnalysisTypeCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTUAL"/>
      <xs:enumeration value="PRESCRIPTIVE"/>
      <xs:enumeration value="ALTERNATIVE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Input-Data" type="Input-Data"/>
  <xs:complexType name="Input-Data" abstract="true">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="Unstructured-Data" type="Unstructured-Data"/>
  <xs:complexType name="Unstructured-Data">
    <xs:annotation>
      <xs:documentation>These are the specific data-items collected by the HI / EA needed to perform the SAP calculation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Data-Blob" type="Data-Blob" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data-Blob" type="Data-Blob"/>
  <xs:complexType name="Data-Blob">
    <xs:sequence>
      <xs:element name="File-Location" type="xs:string" minOccurs="0"/>
      <xs:element name="File-Name" type="xs:string" minOccurs="0"/>
      <xs:element name="File-Type" type="xs:string" minOccurs="0"/>
      <xs:element name="Secure-Hash" type="xs:string" minOccurs="0"/>
      <xs:element name="Data" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LodgementReportRequest" type="LodgementReportRequest" />
  <xs:complexType name="LodgementReportRequest">
    <xs:sequence>
      <xs:element name="Report" type="Report" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="Report-Header" type="Report-Header"/>
      <xs:element name="Summary-Of-Performance" type="Summary-Of-Performance" minOccurs="0"/>
      <xs:element name="Unstructured-Data" type="Unstructured-Data" minOccurs="0"/>
      <xs:element name="Insurance-Details" type="Insurance-Details" minOccurs="0"/>
      <xs:element name="Action-Plan-Report" type="Action-Plan-Report"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Insurance-Details">
    <xs:annotation>
      <xs:documentation>
        Details of the Professional Indemnity Insurance policy used to provide cover against a compensation claim against any particular Report.

        A Report may be covered by an Professional Indemnity Insurance policy in one of three different ways:
        *	The Energy Assessor has personal Professional Indemnity Insurance and the Report is covered by this.
        *	The Report is covered by an umbrella Professional Indemnity Insurance policy held by the Report Supplier (the employer of the Energy Assessor) that assigned the inspection to the Energy Assessor.
        *	An individual insurance policy is taken out to cover the individual report such as the case where the property is unusual and falls outside the Energy Assessors normal Professional Indemnity Insurance policy.

        A Energy Assessor may use any or all of these methods to providing Professional Indemnity Insurance for a Report on a case-by-case basis.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Insurer" type="xs:string">
        <xs:annotation>
          <xs:documentation>The name of the insurance company that underwrites / issued the insurance policy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Policy-No" type="xs:string">
        <xs:annotation>
          <xs:documentation>The policy number of the insurance policy</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Effective-Date" type="xs:date">
        <xs:annotation>
          <xs:documentation>The date that the insurance policy becomes effective (commences cover)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Expiry-Date" type="xs:date">
        <xs:annotation>
          <xs:documentation>The date that the insurance policy is supposed to expire.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PI-Limit" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>The upper limit of the Professional Indemnity cover provided by the insurance policy.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>
